[2017-05-18 02:30] adamhsparks opened #2 "Update author list"
@HughParsonage, would you like to add yourself to the package authors list in the DESCRIPTION and bomrang-package.r files?

[2017-05-18 02:33] adamhsparks opened #3 "Query current_weather stations by lat/lon"
I've another function I used in _GSODR_ to query for stations within a given radius of a given lat/lon value.

It should be fairly simple to recycle much of that function and add this functionality to this package.

See: https://github.com/ropensci/GSODR/blob/master/R/nearest_stations.R

[2017-05-18 04:02] #2 closed

[2017-05-18 21:30] adamhsparks opened #5 "Check if server is responding"
Had some issues with the server not responding this morning. Should build in a check to see if it's responding and handle it gracefully if not.

[2017-05-18 21:32] adamhsparks opened #6 "Update vignette and README files with new functionality"
Need to add Hugh's function to the documentation.

[2017-05-20 02:39] HughParsonage commented on #5
Which server?

Something like this would be reasonable.

[code]

[2017-05-20 03:16] adamhsparks commented on #5
Any of the severs we query with functions in this package.

[2017-05-20 23:54] #3 closed

[2017-05-21 00:09] adamhsparks opened #8 "Rename current_weather() function"
@HughParsonage, I'd like to propose to rename the `current_weather()` function to `get_current_weather()` so that it fits the function is a verb format and aligns with the other function names in the package.

Is this OK with you?

[2017-05-21 02:32] HughParsonage commented on #8
Of course!

That said, I deliberately chose not to use `get_current_weather`. I agree that functions should start with a verb in the imperative mood, but in my taste some verbs (like `get`, `calculate`, `do`) don't add much. That said, `get` does emphasize the HTTP retrieval.

[2017-05-22 21:18] #8 closed

[2017-05-23 07:04] adamhsparks commented on #5
Brain fart. I was looking for `tryCatch()` to properly handle the FTP server not responding.

`httr::GET` won't work with FTP.

[2017-05-24 06:58] adamhsparks opened #10 "emit_latlon_msg"
I don't understand what this parameter does in the `get_current_weather()` function. I've toggled it to `FALSE` but can't find the difference and the documentation is unclear to me:

[code]

Can you please update the documentation for clarity, @HughParsonage?

thanks

[2017-05-24 07:53] #10 closed

[2017-05-24 07:58] adamhsparks commented on #5
Closed with https://github.com/ToowoombaTrio/bomrang/commit/5c2b3ddeb72bcea0af9d691e93ac398a6d98b1de

[2017-05-24 07:58] #5 closed

[2017-05-24 08:27] adamhsparks opened #12 "Return data.frame() object"
I'd like to propose to return a data.frame object from all functions. Internally we can still use `tibble` or `data.table` as necessary but I like to be as generic as possible with things so things like CSV files and just plain `data.frames()` are my preference. End users can transform to a `tibble` or `data.table` as desired, IMO.

I've updated the functions in the Devel branch to return `data.fr

[2017-05-24 10:22] HughParsonage commented on #12
No problem.

[2017-05-24 10:36] adamhsparks commented on #12
Great, thanks

[2017-05-27 00:35] adamhsparks commented on #6
Closed in https://github.com/ToowoombaTrio/bomrang/commit/3050461af186fca9fff39cd23c4fa990aa65f04e

[2017-05-27 00:35] #6 closed

[2017-05-27 23:36] adamhsparks opened #14 "Prepping for submission to rOpenSci onboarding"
This package will be submitted for code review through the [rOpenSci onboarding process](https://github.com/ropensci/onboarding) and publication in the [Journal of Open Source Software](http://joss.theoj.org).

A part of the requirements for the JOSS submission are the authors' [ORCIDs](https://orcid.org). @Keith-Pembleton and I have already entered our ORCIDs and affiliations in the [paper.md](ht

[2017-05-28 06:58] HughParsonage commented on #14
I've added my ORCID.

[2017-05-28 08:07] adamhsparks commented on #14
Thanks Hugh

[2017-05-28 08:42] adamhsparks commented on #14
@HughParsonage, do you intend to not provide an affiliation? Just checking.

[2017-05-28 10:28] HughParsonage commented on #14
Hi, thanks, I had overlooked that.

[2017-05-28 11:05] adamhsparks commented on #14
thanks

[2017-05-28 11:05] #14 closed

[2017-05-29 10:51] adamhsparks opened #15 "JSONurl_latlon_by_station_name and stations_meta in get_ag_bulletin() are the same"
Use just `JSONurl_latlon_by_station_name` that's been cleaned for the most recent data as demonstrated by @HughParsonage in https://github.com/ToowoombaTrio/bomrang/blob/master/data-raw/get_bom_stations.R

Some of the initial data fetching can be streamlined using the code from `get_ag_bulletin()`, lines 69-84.

Once this is done, save database internally and use for both `get_current_weather()` a

[2017-05-29 11:41] adamhsparks opened #16 "get_bom_stations.R doesn't work"
`bom_stations_by_url` is not found.

Any ideas Hugh?

[2017-05-29 11:44] adamhsparks commented on #15
I think that this can be turned into a single function that runs for both incorporating the ability to select only current stations using the system date rather than hard coding the value. It's pretty quick to run and fetch the results and this circumvents the need to update an internal database.

We still need a list of station urls, this gist may help, https://github.com/njtierney/bomr/blob/mast

[2017-05-29 12:34] HughParsonage commented on #16
Let me know if that PR fixes.

[2017-05-30 23:44] adamhsparks commented on #15
@HughParsonage, please have a look at this document I've put together and let me know your thoughts, can we use this as a replacement for your method of generating the JSON urls?

I think I've figured out the methodology BOM uses to generate the URLs, it's the product ID code number 60901 (all weather observations) and the WMO number for the station.

This is much faster than generating all number

[2017-05-31 02:03] HughParsonage commented on #15
Hahaha! Yes, that's much better. Mine was stupid but worked. But it was stupid.

I would add a test to make sure the number of stations exceed a known number and that certain stations are included.

[2017-05-31 03:40] adamhsparks commented on #15
OK, thanks. I'll write some tests for it.

I'm thinking about having this run on package load to get the latest station data. I'll see how much time it really adds to the package doing this. Alternatively, I'm thinking of putting a timestamp in the data and checking that and then automatically refreshing it monthly on package load. Does that make sense? Is it rubbish?

[2017-05-31 04:36] adamhsparks commented on #15
Scratch that previous idea. I'm just rolling it into the internal_functions.R file and will call a function to download the metadata when the `get_current_weather()` or `get_ag_bulletin()` is called. It only takes a second or two to run and it means we don't have to worry about continually updating the package after it's distributed.

[2017-06-01 00:47] adamhsparks commented on #16
Closed PR, fetching station list information directly from BOM and generating URLs on the fly.

[2017-06-01 00:47] #16 closed

[2017-06-01 00:51] adamhsparks commented on #15
Mostly finished now. I've had to make some modifications to `sweep_for_stations()` and `get_current_weather()` to work with the new functionality.

One of the biggest is that the check for lat/lon failed because there are stations that are now returned. Norfolk Island and Mawson (Antarctica).

I need to run a check on all the URLs to make sure that they are valid. If not, I'll need to think about

[2017-06-01 03:09] adamhsparks commented on #15
I think that this code block should work, so no need to do anything else regarding previous comment.

`r
   if ("observations" %notin% names(observations.json) ||
        "data" %notin% names(observations.json$observations)) {
      stop("A station was matched but the JSON returned by bom.gov.au was not in expected form.")
`

[2017-06-01 03:55] adamhsparks commented on #15
Finalised in Devel branch. Testing now, ready to merge with Master pending comment and last bits of testing.

@HughParsonage if you have time to look and make comments. I've had to modify your code a bit to make this work, but I think we're good to go now.

[2017-06-01 04:57] HughParsonage commented on #15
If you open a pull-request I can review it in its entirety (or a subset).

[2017-06-01 06:36] adamhsparks commented on #15
Good idea, see https://github.com/ToowoombaTrio/bomrang/pull/18

[2017-06-03 05:59] adamhsparks commented on #15
Closed with https://github.com/ToowoombaTrio/bomrang/commit/8b729bd11474ead0e238b29391b7df13f9ef333d

[2017-06-03 05:59] #15 closed

[2017-06-06 16:42] HughParsonage opened #19 "jsonlite preferred over rjson"
I chose `library(rjson)` arbitrarily but it seems `jsonlite` is explicitly preferred by rOpenSci (https://github.com/ropensci/onboarding/blob/master/packaging_guide.md#tools) and they're probably right.

[2017-06-06 20:21] adamhsparks commented on #19
OK. Thanks, I'll update the review request with this issue so they know we're addressing it.

[2017-06-07 06:19] #19 closed

[2017-06-07 20:44] adamhsparks commented on #19
thanks.

[2017-06-07 21:33] adamhsparks commented on #12
`get_current_weather()` returns a `data.table` again.

[2017-06-08 08:10] HughParsonage commented on #12
I can't reproduce:

[code]

[2017-06-08 08:54] adamhsparks commented on #12
You're right. Not sure what I had going on. I think the repository on this computer was not updated perhaps. Sorry about that.

[2017-06-08 08:54] #12 closed

[2017-06-22 12:01] mpadge opened #21 "Add 9am & 3pm state bulletins"
Adam, Hugh, and Keith, I'm excited about reviewing this package, and will take this opportunity to confess that i worked as a BoM forecaster for a couple of years so consider myself well-suited for the job. The first thing I wondered on checking the package out was why it didn't extract the daily (09:00, 15:00) weather bulletins? These data represent the key archived observations for the BoM on wh

[2017-06-22 12:15] adamhsparks commented on #21
@mpadge,
Thanks for your enthusiasm. Originally this started as a script for another project @Keith-Pembleton  and I are working on, https://github.com/ToowoombaTrio/WINS, which only needed the forecast as we were drawing the observed data from SILO. I added the ag bulletin since it was also in an XML format.

@HughParsonage kindly added the current weather after finding the package.

I'll confess

[2017-06-22 15:12] HughParsonage commented on #21
Extracting the 9am and 3pm state bulletins directly would be difficult and I think should be out-of-scope for this package. The data is already captured in `get_current_weather`, and I foresee that maintaining the function to extract the unstructured page in perpetuity would be a task. Although obviously important and central, that page is intended for internet browsers -- i.e. human, not machine,

[2017-06-22 19:12] mpadge commented on #21
@HughParsonage The last thing I want to do is start the review process off on a bad note, but ... the bulletins represent the single major twice-daily data output of the entire operation that is the BoM, and a package called `bomrang` should surely incorporate this? Current weather is not the same, because different stations have differen reporting schedules, yet the only two things they must all

[2017-06-22 20:52] adamhsparks commented on #21
@mpadge, I think your proposition that you help after the review would be the most ideal. I understand @HughParsonage's objection to scraping a webpage, I have the same reservations as well, but based on your experience I'm willing to give it a go. My first thought was that _xml2_ could likely parse the page since it is XHTML and it's what I used for the précis and ag bulletin.

I also know that B

[2017-06-23 12:14] adamhsparks commented on #21
I had a chat with @Keith-Pembleton today about this. As I understand it, BoM data should be available through SILO already under Creative Commons, but isn't yet. The plan is in place, but it's just not yet available. That's going to be a well structured data set that we can use for this in the future when that's actually in place.

[2017-06-24 22:50] adamhsparks opened #22 "File paths for internal data are not specified correctly"
See: https://github.com/ropensci/onboarding/issues/121#issuecomment-310839849

[2017-06-24 22:50] adamhsparks opened #23 "`AAC_codes` and `JSONurl_latlon_by_station_name` don't need to be exposed to the user"
Consider moving `AAC_codes` and `JSONurl_latlon_by_station_name` to `inst/data`

[2017-06-24 22:53] adamhsparks opened #24 "Use `agrep` for partial naming in state names in `get_precis_forecast` and `get_ag_bulletin`"
[code]

[2017-06-24 22:56] adamhsparks opened #25 "get_current_weather recommended station_name values are not separated by spaces"
Add spaces to separate stations

[2017-06-24 22:58] adamhsparks opened #26 "Ensure consistency handling station names in get_current_weather()"
There should be consistency in handling the names of observation stations and what they are referred to in the `data.frame` objects,

Use full names all times

[2017-06-24 23:03] adamhsparks opened #27 "nomenclature for the names of weather stations"
[code]

Simplify the references to stations.

[2017-06-24 23:10] adamhsparks opened #28 "Shorten lines >80 chars"
E.g.,

[code]

to

[code]

[2017-06-24 23:12] adamhsparks opened #29 "Concatenate vignettes"
Use only one vignette in place of current three.

Have tabular appendices in main vignette

[2017-06-25 03:39] HughParsonage commented on #23
I disagree. `JSONurl_latlon_by_station_name` data set is useful in its own right. We spent a fair bit of time getting this data right, we may as well make it available. Maybe it would have been better to call it something different, but I'd prefer it stays than is internal.

[2017-06-25 03:45] adamhsparks commented on #23
I'm not convinced either. Discussion is welcome.

I'm not sure how we would be able to update the data if it were internal as
well. R would store all our location data in a single file, we would lose
control of separate data files to be updated.

--
Adam H Sparks

On 25 June 2017 at 13:39:30, HughParsonage (notifications@github.com) wrote:

[2017-06-25 03:58] HughParsonage commented on #23
My rule-of-thumb is that data should not be exposed to the user if it has no meaning outside the package's functions, or if it would be too 'rude' to expose them because it conflict with an existing data set. Otherwise it should be exposed. (A lot of that would be my ill-discipline in documenting data sets though -- need a CRAN CMD check to keep me in line!).

But it's definitely a matter of style

[2017-06-27 07:34] adamhsparks commented on #29
Closed with https://github.com/ToowoombaTrio/bomrang/commit/e387ebe052fcbf500dda46a68c27988dc0c95ebd

[2017-06-27 07:34] #29 closed

[2017-06-27 07:48] adamhsparks opened #31 "Return stations_site_list as a data frame"
Renamed after discussion below.

Will simply ensure that `stations_site_list` is a data.frame and that all functions include option to return `data.table` object as `get_current_weather()` now does.

---------------------------------------------------------

From @mpadge in https://github.com/ropensci/onboarding/issues/121

`QLD_forecast <- get_precis_forecast(state = "QLD")`
`head(QLD_forecast)`

[2017-06-27 09:41] adamhsparks commented on #31
@HughParsonage, I'm thinking this is OK to do, especially with the whole tidyverse and the fact that we do return a tidy data frame.

Looking at `get_current_weather()` gives me the idea to offer the default return as a `tibble` but optionally return a `data.table` for the other objects that `bomrang` returns.

Thoughts?

[2017-06-27 09:58] adamhsparks commented on #23
Allright, I think we're in agreement here that these are useful. I can imagine using them for mapping purposes as well. We'll leave as is.

[2017-06-27 10:56] HughParsonage commented on #31
I'm quite OK with either `tibbles` or `data.frames` by default (I'd personally use `data.table`.)

If we both had infinite time and will, I think the 'correct' way to do would be provide an option `options("bomrang.print.method" = "tibble")` and let the user's preference dictate the print method.

But it seems to be a mostly cosmetic criticism of the package. Feel free to assign me work if you'd p

[2017-06-27 11:47] adamhsparks commented on #31
Yeah, it does seem mostly cosmetic. I'm still on the fence. However, if nothing else we should make sure the package is standardised, `stations_site_list` is a `tibble` at the moment.

I'd initially settled on using `data.frame` just for the end user to make the call thinking that someone who wanted a tibble would know how to use `foo <- as_tibble(get_ag_bulletin(state = "Qld"))` and could make th

[2017-06-27 11:53] mpadge commented on #31
My two cents worth: I see it really just as a cosmetic decision, and the review comment was really just about inconsistency given the package claim to return a "tidy data frame" of everything. It seems fair to expect "tidy" to mean consistent. Easiest path would just be converting the current sole `tibble` to a simple `data.frame` and job would be done. `tibble`-ifying everything does have the fur

[2017-06-27 12:10] adamhsparks commented on #31
Thanks @mpadge, I think we're on the same page then fro your post and my
last.

I'll detibble the lone tibble and we should offer the same options in all
functions, i.e. to return a data.frame as well

--
Adam H Sparks

On 27 June 2017 at 21:53:47, mark padgham (notifications@github.com) wrote:

[2017-06-27 12:21] HughParsonage commented on #27
I think these are intentionally separate, though. Note that `name` is the column identifier that's returned by BoM, so we probably shouldn't change it. However, my choice of `station_name`, rather than `name`  as the argument was deliberate: `location` isn't quite good enough, because the match is done on the station name not on the locality; and `name` I felt wasn't as clear as `station_name` for

[2017-06-27 12:23] HughParsonage commented on #24
Just in case the package has a word limit 😛 https://codegolf.stackexchange.com/q/124621/18526

[2017-06-27 20:49] adamhsparks commented on #31
For consistency, should we make `JSONurl_latlon_by_station_name` a `data.frame` object as well and convert it to a `data.table` object in the functions when fetching current weather?

[2017-06-27 22:08] mpadge commented on #31
But wouldn't this be better as internal data? Then it doesn't really matter what it is. No user is ever going to need to access that, right?

[2017-06-29 04:38] adamhsparks opened #32 "Add use-case vignette based on WINS"
Write a vignette describing the use of _bomrang_ in the _WINS_ project.

[2017-06-29 04:42] adamhsparks commented on #31
@mpadge, @HughParsonage  and I discussed exposing the data externally here:
https://github.com/ToowoombaTrio/bomrang/issues/23

We decided to leave data exposed. I can see possible use cases similar to what Hugh already described there, for myself as well. It also means that you can update only one data set at a time. If it's internal it's all one Rda file, unless I'm mistaken?

[2017-06-29 07:31] mpadge commented on #23
Just one further thought on this admittedly closed issue: Making them internal in no way removes the ability of anyone to access them; mostly it just means they won't be lazy-loaded and won't automatically appear in package documentation. You can put whatever files you want in `inst/extdata` (or `inst/whatever`) and the package and all others would still have access via
[code]
and then load it how

[2017-06-29 08:23] adamhsparks commented on #23
@mpadge, as I recall, when I started looking at ways to update the package data on-the-fly by the end-user, I couldn't suss out how you would put it in `inst` and still maintain the ability to run a function and update the data in the package after it's installed. So I went this route so that we aren't stuck constantly updating these metadata on the package when no other changes are necessary.

If

[2017-06-29 11:08] mpadge commented on #23
The above call just returns the absolute file path, and you're then free to do whatever you want with it, so
[code]
(Or more likely without "inst/" on a CRAN install.) Then, using some made-up functions,
[code]
Result: User's local version of `extdata` file updated by internal package functions. It's only `R/sysdata.rda` that gets lumped in a single file and remains truly hidden; otherwise pretty

[2017-07-01 01:58] adamhsparks commented on #23
I now I recall my issues with this. It's because Rmd files don't play nicely with file paths. Trying to save the data using `save` to `/inst/extdata` is more of a challenge than using `devtools::use_data` in the Rmd file showing how the data were created. You either end up with internal or external data but the Rmd file handles it gracefully. I'll have to see if there's a way around.

[2017-07-01 02:29] adamhsparks commented on #23
Derp. That wasn't hard at all.

Example from my _GSODR_ package.

`save(country_list, file = "../inst/extdata/country_list", compress = "bzip2")`

Sometimes I make life a bit harder than it needs to be.

[2017-07-01 07:15] mpadge commented on #23
just one tweak: instead of `../inst/extdata` you should use the `system.file()` stuff above, because doing `install.packages()` from within `R` will drop `./inst/extdata` down one directory to `./extdata`, and `./inst` will no longer exist. The `system.file()` stuff is failsafe regardless of where `extdata` is actually located.

[2017-07-01 07:40] adamhsparks commented on #23
@mpadge, sorry, I don't follow. I want to save the inital raw data in `/inst/extdata` how does the `system.file` call (which only returns an empty string) help anything?

In fact, I can't get it to work when knitting.

[code]

whereas
[code]

Saves in the "inst/extdata" folder of my packages project after knitting to then be built?

[2017-07-01 10:55] adamhsparks commented on #23
Example of what I'm referring to here:
https://github.com/ropensci/GSODR/blob/devel/data-raw/fetch_country-list.md

[2017-07-01 12:36] mpadge commented on #23
oh yeah, that is one glitch with this approach: `system.file()` ''Finds the full names of files in packages etc.'', so if files don't actually exist it just returns an empty string. Passed to `save()`, this then returns `not found`. Luckily, what you guys need to do is only replace an existing file, so `system.file()` will always work (when applied to `inst/extdata/JSONUrl_latlon_by_station_name`)

[2017-07-01 12:59] adamhsparks commented on #23
I think we're talking about two different things here.

Right now I'm talking about the creation of the initial file, not the modification, yet. Modifying the file wasn't the issue I was having. I was having an issue creating the initial file using the Rmd files in `data-raw`.

[2017-07-02 02:02] adamhsparks commented on #23
`AAC_codes` are now internal to the package and not externally exposed to the user.

[2017-07-02 03:12] adamhsparks commented on #23
`AAC_codes` are no longer externally exposed when using _bomerang_

[2017-07-02 11:31] adamhsparks commented on #27
I'm looking at these a bit more tonight. What a mess, eh?

BoM uses "name" in two ways and refers to the same thing also as "station".

http://www.bom.gov.au/products/IDN60801/IDN60801.94596.shtml -
Up at the top "name" is used as "Ballina" and in the station details,
`Station Details	ID: 058198	Name: BALLINA AIRPORT AWS	Lat: -28.84	Lon: 153.56	Height: 1.3 m`

But in the json file `name` is referr

[2017-07-11 02:54] HughParsonage opened #33 "Default argument NULL should be reserved for optional arguments"
Per http://adv-r.had.co.nz/Functions.html

I believe this is now conventional usage: if a function is defined with `function(arg = NULL)` then `arg` is understood to be optional.

Yet for example

[code]

I think this should be just

[code]
(so that it's clear that `state` needs to be supplied by the user), **or** `get_ag_bulletin()` should return something sensible (such as the bulletin for *all*

[2017-07-12 02:41] adamhsparks commented on #33
Thanks Hugh. I'll get on that!

[2017-07-12 03:24] adamhsparks commented on #33
Closed with: https://github.com/ToowoombaTrio/bomrang/commit/0b7deffd8d89bad947816091f688ed21c09e4047

[2017-07-12 03:25] #33 closed

[2017-07-12 22:06] adamhsparks commented on #28
Fixed in https://github.com/ToowoombaTrio/bomrang/commit/641e1ed5e43388d2ddb474512bae8f4da4801c00

[2017-07-12 22:06] #28 closed

[2017-07-12 22:07] adamhsparks commented on #24
Fixed in full in commit https://github.com/ToowoombaTrio/bomrang/commit/0b7deffd8d89bad947816091f688ed21c09e4047

[2017-07-12 22:07] #24 closed

[2017-07-12 22:08] adamhsparks commented on #22
Fixed in https://github.com/ToowoombaTrio/bomrang/commit/73abda361c5fa70434df7f19a88b281fd4557de4

[2017-07-12 22:08] #22 closed

[2017-07-12 22:20] adamhsparks commented on #31
I've come around and agree with @mpadge. There's no need to pollute the user-space with the data. I've started moving the data to be internal only. Two of the three databases currently are internal only. I'll update the third shortly.

If someone really wants the data, they can refer to the Rmd files in /data-raw https://github.com/ToowoombaTrio/bomrang/tree/devel/data-raw to create their own.

[2017-07-13 21:20] adamhsparks commented on #31
Closed with https://github.com/ToowoombaTrio/bomrang/commit/d9f13cbe73f840f787b941e70e67e10f782a9a68

[2017-07-13 21:20] #31 closed

[2017-07-13 21:20] adamhsparks commented on #23
Closed with https://github.com/ToowoombaTrio/bomrang/commit/d9f13cbe73f840f787b941e70e67e10f782a9a68

[2017-07-13 21:20] #23 closed

[2017-07-14 12:29] adamhsparks commented on #27
I've added `full_name` to the ag bulletin output, checking there are differences in the names between the name and full name from the stations site list.

I'll add a `full_name` column to the `get_current_weather` output as well unless you'd like to, @HughParsonage?

[2017-07-14 12:32] HughParsonage commented on #27
Sure I'll do that.

[2017-07-14 12:33] adamhsparks commented on #27
Cool, thanks Hugh.

[2017-07-15 00:24] adamhsparks commented on #27
Maybe I wasn't clear enough. I think we should have two values?

BoM refers to a name in the report but also has a longer name in the station list that can distinguish between the current and previous locations that use the same name in the report, if I understand @mpadge correctly.

[2017-07-15 01:00] adamhsparks commented on #26
This is being dealt with in https://github.com/ToowoombaTrio/bomrang/issues/27

[2017-07-15 01:00] #26 closed

[2017-07-15 01:07] #25 closed

[2017-07-15 04:08] adamhsparks opened #34 "Add map of station locations to vignette"
From https://github.com/ropensci/onboarding/issues/121

[2017-07-15 05:58] HughParsonage commented on #27
Hmm I still don't understand. Happy to do work, but not if it creates work for you! If you create a test that breaks the build, that's probably enough to clarify -- and I'll fix it. Otherwise, feel free to just make the change yourself. Sorry 😞

[2017-07-15 07:21] adamhsparks commented on #34
Heh we both worked on this today.

https://github.com/ToowoombaTrio/bomrang/commit/5ec5052f48079ebf589a3ccdd47d080a349ea303

[2017-07-15 07:26] adamhsparks commented on #34
I like your solution better.

Send through a PR.

[2017-07-15 07:26] #34 closed

[2017-07-15 07:42] HughParsonage opened #35 "column 'state' in stations_site_list isn't reliable"
Probably too difficult to fix (I'm guessing it originates from BoM), but for example all stations in Vanuatu have `state` = `VIC`.

[2017-07-15 08:40] adamhsparks commented on #35
We can do a check for data validity and assign the proper state in our databases, see https://github.com/ropensci/GSODR/blob/master/data-raw/fetch_isd-history.md#check-data-for-inconsistencies for an example.

[2017-07-15 08:51] adamhsparks commented on #27
No worries, I can fix it up. :)

[2017-07-15 23:27] adamhsparks commented on #27
@HughParsonage I think this was my mistake.

What's been done here seems good. If the station name specified by the user matches what's in the stations list we've created then it should be OK. I think this only applies to the ag bulletin where BOM issues the bulletin with a "name" that may or may not be the "full name" due to stations retiring or other reasons.

Using "full_name" does mean that in

[2017-07-16 00:08] adamhsparks opened #37 "Document update_* functions further in vignette"
From https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 07:12] #27 closed

[2017-07-16 21:27] adamhsparks opened #38 "Rename JSONurl_latlon_by_station_name to be shorter"
This has been raised by both reviewers.

https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 21:27] adamhsparks opened #39 "Add minimum version requirements in the DESCRIPTION file"
https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 21:28] adamhsparks opened #40 "Refactor code to be more concise"
https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 21:30] adamhsparks opened #41 "Define cook and .get_obs outside functions"
I don't think `.get_obs()` is a scoping issue, will have to check, but it could probably be moved to the internal_functions.R file.

https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 21:36] adamhsparks opened #42 "Specify conventions for latitude and longitude argument in get_current_weather()"
https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-07-16 21:38] adamhsparks commented on #37
Closed with https://github.com/ToowoombaTrio/bomrang/commit/ee5f3e6bc5842cf15e244ca373888cc644b49aa8

[2017-07-16 21:38] #37 closed

[2017-07-16 21:41] adamhsparks opened #43 "The recommended station_name values are not separated by spaces"
Both reviewers raised this issue. When suggested stations are returned in the message, there is no space between the values in the message.

[2017-07-16 21:43] adamhsparks opened #44 "Fuzzy matching is inconsistent in get_current_weather()"
No warning is generated for
[code]

yet one is nevertheless generated for the unambiguous

[code]

Then note that,
[code]

and yet the warning told me station_name = 'CASTLEMAINE PRISON'. I think there needs to be more consistency in handling the names of observation stations and what they are referred to in the data.frame objects, and personally suspect that the full names ought to be used at all

[2017-07-17 02:11] HughParsonage commented on #43
Can you provide a reprex? I can't reproduce.

[2017-07-17 02:50] adamhsparks commented on #43
Sorry, I was just copying and pasting this morning from the reviews. I see that it's been fixed.

At any rate it's good to have a record of it here I suppose.

Thanks.

[2017-07-17 02:50] #43 closed

[2017-07-17 03:16] HughParsonage commented on #44
Wow. This is a really excellent bug report -- I never would have picked it out.

[2017-07-17 04:39] #44 closed

[2017-07-17 04:52] HughParsonage commented on #41
I thought it was more readable to put them inside the other functions!

[2017-07-17 06:20] adamhsparks commented on #41
I'm opening issues for discussion, we don't have to accept everything proposed during the review if it really isn't necessary or beneficial.

It's worth a look at least for mine, I think, if nothing else to ensure consistency in how the internally used functions are handled.

[2017-07-17 06:20] #42 closed

[2017-08-02 04:27] adamhsparks commented on #39
Closed with https://github.com/ToowoombaTrio/bomrang/commit/b33a3087658b27eeadf98ff9845bfc7f3901dc4b

[2017-08-02 04:27] #39 closed

[2017-08-07 00:20] adamhsparks commented on #41
I've moved `.get_obs()` outside the main function, `get_ag_bulletin()`, but left it in the same .R file since it's only used in one function and not across the package.

For me, at least, it does help to have it outside the main function I can read that more easily.

I'll close this now and we'll leave the `cook()` function as-is.

[2017-08-07 00:20] #41 closed

[2017-08-07 01:45] adamhsparks opened #47 "Use dplyr best practices"
From https://github.com/ropensci/onboarding/issues/121#issuecomment-315419598

[2017-08-08 10:46] adamhsparks commented on #47
It took several commits, but this is now done.

The code now uses `rlang::.data`, however, this won't work with _tidyr_ functions yet.

[2017-08-08 10:46] #47 closed

[2017-08-08 10:50] adamhsparks commented on #40
Code is refactored for state selection in `get_ag_bulletin()` and `get_precis_forecast()`.

However, since `get_ag_bulletin()` checks for the existence of individual columns, it's not `if else()` statements, but several `if()` statements. I cannot see how this would work in a `dplyr::case_when()` situation.

[2017-08-08 10:50] #40 closed

[2017-08-08 10:55] adamhsparks commented on #38
Any thoughts on renaming this? I agree it's long, but it's not something the end user ever interacts with.

[2017-08-10 06:41] adamhsparks commented on #38
@HughParsonage, shall I modify the variable name, are you going to or are you opposed to changing it?

[2017-08-10 09:01] HughParsonage commented on #38
Hi sorry I'm overseas so can't use GitHub. Whatever you think is best -- no
strong objections here.
On Thu, 10 Aug 2017 at 2:41 pm, Adam H. Sparks <notifications@github.com>
wrote:

[2017-08-10 09:46] adamhsparks commented on #38
Thanks Hugh. I'll shorten it down.

Safe travels.

--
Adam H Sparks

On 10 August 2017 at 19:01:38, HughParsonage (notifications@github.com)
wrote:

[2017-08-10 12:08] adamhsparks commented on #38
Closed with https://github.com/ToowoombaTrio/bomrang/commit/8bcba0b4c01bcc7410721e285a962f85c87d5200

[2017-08-10 12:08] #38 closed

[2017-08-11 03:41] adamhsparks commented on #21
@mpadge, I think we're close to getting all of the point addressed that were raised by you and @geanders during the review process.

Do you want to get started on adding the 9 & 3 bulletins so that we can include this functionality in the JOSS paper submission?

[2017-08-11 10:27] adamhsparks commented on #21
We don't have to, I was just offering thinking it would be good to have you on the author list as well.

[2017-08-11 11:18] mpadge commented on #21
thanks adam! yeah, that'd be great, but only if 1-2 weeks isn't too long to wait

[2017-08-11 11:28] adamhsparks commented on #21
Yeah, no worries, I think it's worth it. :)

[2017-08-15 12:17] adamhsparks opened #49 "Add ability to export GeoTIFF objects as Geopackages?"
Inspiration from @mdsumner, https://gist.github.com/mdsumner/d1666d0d1ca57493ecd50fa44c8fe6b1

[2017-08-15 14:09] mdsumner commented on #49
As much as I encourage the exploration, I don't think this is likely to be a good option.  The main thing is that GeoPackage only supports *image* data (i. e Greyscale/Byte in one band, or RGB/Byte in three bands) and I suspect you are looking at raster data more generally (?, also maybe my take on GPKG is out of date by now).

GeoTIFF is a very good format, is there specific problems with it?   T

[2017-08-15 20:14] adamhsparks commented on #49
Thanks for the feedback @mdsumner. It was a thought I had just before bed last night. I've used the vector capabilities in [_GSODR_](https://github.com/ropensci/GSODR) so thought perhaps this was something to look into.

Saved me some time by tagging you.

[2017-08-16 20:40] adamhsparks opened #50 "Lat/Lon values are rounded in get_current_weather() results"
Insert the LAT/LON values from the `JSONurl_site_list.rda` and return these results to the user rather than the LAT/LON values from the json file?

[2017-08-16 21:38] adamhsparks commented on #50
@HughParsonage, can you take the lat/lon values from our internal db and return those to the user?

I've hacked at it a bit this morning, but I'm not as familiar with data.table as you are, so it might be ugly compared to what you can do.

[2017-08-16 21:39] adamhsparks commented on #49
I think I'll just leave this for another day. Not really necessary, we can write NetCDF if we really want, but most users should be able to do that themselves if they wish.

[2017-08-16 21:39] #49 closed

[2017-08-16 21:53] mdsumner commented on #49
I hadn't gotten to trying the new features, but I want to - we will use this, either me or colleagues. Writing NetCDF itself is actually pretty painful if a user has never done it, raster does it but only single slices to variables IIRC.

A templated .nc definition, or navigating writeRaster to ease export from bomrang is the kind of thing I can easily help with.

[2017-08-16 21:57] adamhsparks commented on #49
Thanks @mdsumner, I'll open another issue specifically for NetCDF and we can take a look at providing that functionality.

[2017-08-16 22:00] adamhsparks opened #51 "Add ability to export NetCDF from satellite imagery"
Exporting NetCDF files can be difficult.

Add the ability to easily export satellite imagery as NetCDF files.

With @mdsumer.

[2017-08-17 04:45] adamhsparks opened #52 "Add example output to vignette"
Vignette lacks examples of output to illustrate what user can expect.

From: https://github.com/ropensci/onboarding/issues/121

[2017-08-17 04:49] adamhsparks commented on #52
Fixed with  https://github.com/ToowoombaTrio/bomrang/commit/ee5fd1b83f0f8018566fd0594410e565e83c6e95

[2017-08-17 04:49] #52 closed

[2017-08-18 03:41] adamhsparks commented on #32
Completed dd67132b7330a7c4b216f916566bec90fafd2a51

[2017-08-18 03:41] #32 closed

[2017-08-18 07:49] adamhsparks commented on #50
Figured out how to do it while the object was still in a list format before converting to `data.table`

Passes tests, seems good. I've updated examples in documentation to reflect new values.

[2017-08-18 07:49] #50 closed

[2017-08-25 07:03] adamhsparks opened #55 "Need Mark's ORCID"
Mark,
I'll need your ORCID for the JOSS paper, and I've put them in the DESCRIPTION file as well and will include it there.

[2017-08-25 09:10] adamhsparks opened #56 "weather_bulletin detailed documentation"
Functions that prepare a tidy data frame of BoM data have appendices in the vignette that detail what the columns contain.

`get_weather_bulletin()` currently lacks this documentation and I'm not sure I'm qualified to add it, I can't find it documented on BoM's site.

@mpadge is this something you can address after your holidays?

[2017-08-28 20:47] adamhsparks commented on #21
Closing now as this has been added by @mpadge.

Thank you Mark!

[2017-08-28 20:47] #21 closed

[2017-08-30 20:21] mpadge commented on #56
I'll get straight onto it after 18th Sept! I don't think there is public-facing documentation, but it all accords with World Met Organization standards, so I should be able to provide both docs as you've done for all other tables and some kind of formal references.

[2017-09-06 06:27] mpadge commented on #55
Cool, thanks for making me part of it all! I'll get it to ya asap...

[2017-09-18 08:02] mpadge commented on #55
http://orcid.org/0000-0003-2172-5265

[2017-09-18 10:00] adamhsparks commented on #55
I forgot, we need you affiliation too, see

https://github.com/ropensci/bomrang/blob/master/inst/paper/paper.md

[2017-09-19 08:21] adamhsparks commented on #55
Thanks @mpadge

[2017-09-19 08:21] #55 closed

[2017-09-19 08:39] mpadge commented on #55
i'm on to #56 today ...

[2017-09-19 22:45] #56 closed

[2017-09-23 23:11] adamhsparks opened #61 "Use ropensci/hoardr for file caching capabilities"
This will help clean up the satellite imagery file caching code.

https://github.com/ropensci/hoardr

[2017-11-16 10:07] adamhsparks commented on #61
Completed with https://github.com/ropensci/getCRUCLdata/commit/4cfc21dd3c0307b11667a6f2d5f69660192c1381

[2017-11-16 10:07] #61 closed

[2017-12-18 01:52] adamhsparks opened #63 "Ag bulletin time zones not properly reported"
Output from `get_ag_bulletin()` reports time zone as:

[code]

It should be, e.g.,

[code]

[2017-12-18 01:53] adamhsparks commented on #63
Fixed with https://github.com/ropensci/bomrang/commit/3baf3dfebace10fb18dca1624436f6dcd2cd3e36

[2017-12-18 01:53] #63 closed

[2018-03-19 11:25] adamhsparks commented on #35
This really became an issue when the latest stations list from BOM put the Alice Springs Airport in South Australia.

I've implemented checks now for the location of the lon/lat values and used the value returned from that.

However, this is time-consuming, ~1hr on a 2.5Ghz Core i7 MacBook Pro. It still needs to be put into the `update_station_locations()` with a warning in the documentation about

[2018-03-19 11:35] HughParsonage commented on #35
What's the bottleneck? At any rate, I think `sf` (and any package used only in the updater) would be best suited for `Suggests`.

[2018-03-19 11:37] adamhsparks commented on #35
Bottleneck:

[code]

https://github.com/ropensci/bomrang/blob/master/R/update_station_locations.R is a function in the package, not just in `data-raw`. So `sf` should be in the Imports, because I'm using it in that (updated) function as well, no?

[2018-03-19 11:40] HughParsonage commented on #35
Hmmm my ASGS package might be worth looking into. This runs in a few seconds.

system.time(bom[, State := latlon2SA(lat, lon, to = "SA4", return = "v")])

Not possible just to use `ASGS` on CRAN though, it's a teeny bit too big (1 GB) -- even GitHub chokes. Could do a `lite` version that only has states though.

[2018-03-19 11:44] HughParsonage commented on #35
Nope! You can use elements from `Suggests:` but you just have to use `if (requireNamespace("sf", quietly = TRUE))` whenever you do that. In this case, it would be fine because you can without `sf` you'd still be able to run `update_station_locations`, you just wouldn't get the benefit of the validation of `state`. For example, `ggplot2` uses `mgcv` in suggests even though it's used in `geom_smooth

[2018-03-19 11:46] adamhsparks commented on #35
ah, nice one!!! Thanks.

[2018-03-19 12:01] adamhsparks commented on #35
I shoulda paid more attention when reading, it's right there: http://r-pkgs.had.co.nz/description.html#dependencies

[2018-03-19 12:14] HughParsonage commented on #35
BTW here's my list of states by true state

[code]

[2018-03-19 12:50] mpadge commented on #35
Two comments, if i may:

1. The reason for apparently "wrong" states is historical control: Vanuatu is not part of any state of Aus, so defaults to HQ which is Melb, ergo Vic. Alice Springs I'm not sure about, but imagine an historical time absent anything in NT, yet with the airport, hence default to supervisory authority of SA.
2. Even just a `Suggests: sf` can be non-trivial, but help can be fo

[2018-03-19 20:18] adamhsparks commented on #35
Hi Mark, the Alice Springs is a recent change, see the current `stations_site_list` in the released version of `bomrang`. It caused an error during testing because the state was wrong.

[2018-03-20 12:20] HughParsonage commented on #35
What's the current runtime? If it's still an hour, you should probably contact CRAN first before submitting.

[2018-03-20 20:59] adamhsparks commented on #35
It's still ~1hr, but currently the tests don't run on CRAN so it still runs as fast as previous versions. I've checked it on win-builder with no issues. Unless you think that it's an issue that I need to alert CRAN to for users after installation?

I'm guessing it is a fringe case where a user would update the lists. But I'm still looking for a way to improve the efficiency, not having much luck a

[2018-03-21 00:06] HughParsonage commented on #35
Hold on I’ll write a patch today.
On Wed, 21 Mar 2018 at 8:00 am, Adam H. Sparks <notifications@github.com>
wrote:

[2018-03-21 00:16] adamhsparks commented on #35
It's all good. Andy Teucher gave a suggestion in rOpenSci slack to use `sf::st_join()`, much faster since it doesn't do geometry and I don't need geometry. Takes a few minutes longer now to download, but nothing like it was taking. Wrapping up testing now, should have it fixed shortly.

[2018-03-21 01:05] HughParsonage commented on #35
I've got a one-line solution that takes 3 s and only requires a light package. (Just need to wait for CRAN to accept `ASGS.foyer` -- though shouldn't be any problems.)

[2018-03-21 01:13] adamhsparks commented on #35
OK, great! Let's leave it for the next update. I need to get this update out the door for `janitor` to be updated on CRAN and I've managed to get all the tests written and code changed around for this right now.

Plus I have other things that are waiting, so I need to stop fiddling with this for a while.

[2018-03-21 01:27] HughParsonage commented on #35
OK I know you have better things to think about, but one of the state-mismatches is quite funny: `WA/SA border village`. Original says `WA`, but the longitude is 129.0019 and the border lies on the 129th meridian; however, the border as gazetted lies about 100m east of the 129th meridian due to a surveying error in the 1920s. Nonetheless, the station was actually (just) in SA.

[2018-03-22 01:10] adamhsparks commented on #35
Since I've had some issues with the CRAN submission, I've just readied a new version using `ASGS.foyer` to check and tidyed up a few other items. Will resubmit to CRAN soon.

Thanks, @HughParsonage for this. Much faster and more efficient.

[2018-03-22 01:10] #35 closed

[2018-03-25 07:18] adamhsparks opened #66 "Travis is slow to run"
Building `dplyr` etc. slows it down.

Try caching or installing binaries

[2018-03-26 00:06] adamhsparks opened #67 "Travis-ci build fails"
This seems to be a Travis issue, not `bomrang`. Apparently there are issues with accessing ftp sites.

https://github.com/travis-ci/travis-ci/issues/9352

and

https://github.com/travis-ci/travis-ci/issues/9112

[2018-03-27 02:43] adamhsparks commented on #66
Fixed: https://github.com/ropensci/bomrang/commit/a5496639e3237dd4d87bf83d3ed03913a387e3f3#diff-354f30a63fb0907d4ad57269548329e3

[2018-03-27 02:43] #66 closed

[2018-04-07 11:39] adamhsparks commented on #67
https://github.com/travis-ci/travis-ci/issues/9391

[2018-04-21 23:24] adamhsparks opened #69 "Field names in get_historical() should contain "_" not ".""
For consistency with field names from other functions in `bomrang`, the field names in the returned `data.frame` from `get_historical()` should contain "_" not "." for spaces.

[2018-04-21 23:58] adamhsparks commented on #51
Doesn't seem worth the effort. Users can use other tools to generate NetCDF files if necessary

[2018-04-21 23:58] #51 closed

[2018-04-22 00:34] adamhsparks commented on #69
Hugh and I did do a bit of work to standardise as best we could. However, we've mostly stuck close to/with the original names that BOM uses for the different products.

[2018-05-01 03:03] jonocarroll commented on #69
Closed via https://github.com/ropensci/bomrang/commit/c6f7a3f2cdef890e83e7a94360047fbda3e33aa8 in devel.

[2018-05-01 03:03] #69 closed

[2018-05-05 02:44] adamhsparks opened #70 "Devel branch not passing R CMD checks"
Tests are failing locally for `get_historical()`.

[code]

Any ideas @jonocarroll?

[2018-05-05 09:07] adamhsparks commented on #70
I did some poking around. It looks like it's related to https://github.com/ropensci/bomrang/issues/69

The field names in the tests need to be updated.

[2018-05-05 09:58] jonocarroll commented on #70
The match test assumed that the `p_c` mystery variable (which necessitates the second lookup) was a per-station constant, but that appears to not be the case. I've updated the test to allow for a more general match (d447401514cfe977102b04afa44e39383c314720). This now passes all 20 `get_historical` tests locally, but I'm getting 9 failures and 3 warnings from `get_precis` tests. Another issue, perh

[2018-05-05 09:58] #70 closed

[2018-05-05 10:03] jonocarroll commented on #70
Still failing but looks to be 3.5.0-related and @HughParsonage is on the case.

For now... "works on my machine."

[2018-05-05 11:00] adamhsparks commented on #70
Thanks. Works on my machine now too with no tests failing for `get_precis` tests either, using 3.5.0.

[2018-05-10 01:12] adamhsparks commented on #67
Closing with switch to CircleCI and removing Travis as the Linux CI.

[2018-05-10 01:12] #67 closed

[2018-05-10 01:14] jonocarroll commented on #67
Ouch for Travis, but neat - I haven't used CircleCI before. Another tool in the toolbox is always useful.

[2018-05-10 01:18] adamhsparks commented on #67
I'll admit, I could've set up a Docker on Travis, but I was tired of fiddling with Travis to get `bomrang` and `GSODR` to pass CI checks.

@noamross really helped out with the config file for `GSODR`. I've adapted it for `bomrang`.

[2018-05-16 07:39] maelle opened #71 "Travis installation to be deleted?"
:wave: @adamhsparks You got rid of Travis CI, right? I see an unused webhook cf https://github.com/ropensci/bomrang/settings/installations could you please delete it? Thanks!

[2018-05-16 08:43] adamhsparks commented on #71
Yes, thanks. I missed that.

[2018-05-16 08:43] #71 closed

[2018-05-16 08:44] maelle commented on #71
Thanks!

[2018-05-19 20:51] KyleHaynes opened #72 "Citations reference wrong year?"
Just a FYI - your citations reference 2017. Not sure if you care or not ...

Quick search across the repo will highlight them (generally in readme.md)

[2018-05-19 23:00] adamhsparks commented on #72
Did you mean this?

 To cite *bomrang*, please use:

        Adam H Sparks, Mark Padgham, Hugh Parsonage and Keith Pembleton (2017).
        bomrang: Fetch Australian Government Bureau of Meteorology Weather Data.
        The Journal of Open Source Software, 2(17).
        DOI: [10.21105/joss.00411](https://doi.org/10.21105/joss.00411)

That should be 2017, as that's when the paper was published.

[2018-05-20 00:26] KyleHaynes commented on #72
Sorry, I'm a fool. There were a few instances, but yes, I mainly meant the paper (which I'm totally wrong about)

[2018-05-20 00:26] #72 closed

[2018-05-20 00:55] adamhsparks commented on #72
No apology necessary. Always good to get feedback, I/we do miss things from time-to-time.

[2018-05-28 00:51] lzb5600 opened #73 "How to specify the file name and file path when using “get_historical”?"
I check the Reference Manual but couldn't find how to set them.

[2018-05-28 01:06] jonocarroll commented on #73
This functionality is not available, and possibly won't be -- CRAN has rules about where packages may write files and `tempdir()` is a safe place for that. You should be presented with the data file location should you wish to move the files yourself. The `.zip` file is deleted but the contents remain.

[2018-05-28 01:08] jonocarroll opened #74 "R >= 3.5.0 dependence"
Introduced in e42a79500b399cadae7300d76226742424e5918c, but is this strictly necessary? It means the package can't be installed in earlier versions.

If it is strictly required, what is the `3.5.0` functionality this package relies on?

[2018-05-28 01:14] lzb5600 commented on #73
OK that's fine. Thank you for your prompt response!

[2018-05-28 01:15] #73 closed

[2018-05-28 01:17] adamhsparks commented on #74
I'm aware of the limitations.

I don't know what the change was between 3.4.3 and 3.5.0, but in the `get_precis_forecast()` function the column names are different between the versions of R and it breaks in older versions.

I tried this with a couple computers and had the same results. Also tried to make sure it wasn't just `janitor` that was causing issues. It wasn't that, definitely something in

[2018-05-28 01:19] adamhsparks commented on #73
The other option, if you wanted to save the raw files, is that `hoardr` is used for file caching already in `bomrang`. We could use that, but I don't think it's worth it for these data. I'd just save the cleaned/formatted data from `get_historical()` and not worry about it.

[2018-05-28 01:20] jonocarroll commented on #74
I might see if I can make a patch for a version-agnostic update. Cheers.

[2018-05-28 01:26] adamhsparks commented on #74
I would welcome that!

Right now I don't have time to look into it.

[2018-05-28 02:15] adamhsparks commented on #74
Actually, I'm fairly sure we could just check the R version and use the proper column names depending on that. I just didn't take the time to dig further. I probably should have, but I wanted to get this update on CRAN since I'd also received an e-mail from Kurt about missing dependencies.

[2018-05-29 07:24] lzb5600 opened #75 "Error when downloading data?"
when I run the following code:

library("bomrang")
tmpweather <- get_historical( stationid = "066208", type = "min")

The error message occurred:
Error in .get_zip_url(stationid, obscode) :
  Error in retrieving resource identifiers.

I can download some other data with other latlon/stationid, but for some of them this error occurred,

[2018-05-29 07:38] jonocarroll commented on #75
Just checking - are you _sure_ that's the `stationid` you used? I get the error `"Station not recognised."` which is what I'd expect to happen if the station wasn't listed in `bomrang`'s internal database.

Could you perhaps post a [`reprex`](https://github.com/tidyverse/reprex) with `si=TRUE`?

[2018-05-29 07:41] jonocarroll commented on #75
The internal database *was* updated recently, so it's possible that it's not fully aligned for `get_historical()`. I can't check until I update to `R 3.5`.

[2018-05-29 08:20] lzb5600 commented on #75
Thank you @jonocarroll . I have modified the description of this issue. This should work.

[2018-05-29 10:22] adamhsparks commented on #74
I've installed a Docker version with 3.4.3 to do some testing and see what I can figure out.

[2018-05-29 11:14] adamhsparks commented on #74
Clicked wrong button. Didn't mean to close.

[2018-05-29 12:03] adamhsparks commented on #74
I've pushed a fix to the devel branch. It checks the R version and modifies the colnames that are supplied accordingly. I'm baffled as to why the R version changes that but I've recreated it again tonight with different versions of R to be sure.

@jonocarroll, please let me know if this fixes the issue for you on 3.4.3. It appears to pass on the CI I've set up using 3.5.0.

[2018-05-29 12:59] jonocarroll commented on #74
Tested devel branch in `R 3.4.4` on Ubuntu/Pop!_OS 18.04 LTS.

[code]

I've pushed another patch to devel which I think fixes these. I now get just a single "server is not responding" error running `devtools::test()`.

[code]
All seem to pass when running the file manually, or with`test_file` and all `skip_on_cran`s turned off

[code]

Please check on `3.5.0`.

From what I can see:

 - the `if(get

[2018-05-29 13:07] jonocarroll commented on #75
If I visit the URL which should provide the intermediate data, I get

[code]
I can make this error visible to the user when detected.

Entering the stationid `066208` here: http://www.bom.gov.au/climate/data/ shows the same error. Do you have reason to think there should be data for this station?

[2018-05-29 20:12] adamhsparks commented on #74
Only one version of `janitor` will work here, but depending on the R version you get different results. @sfirke, do you have any ideas?

[2018-05-29 21:14] adamhsparks commented on #74
Thanks, @jonocarroll, for cleaning up the mess I made. I was hurrying last night to patch it.

It passes tests on R 3.5.0 locally for me.

[2018-05-30 00:32] lzb5600 commented on #75
@jonocarroll Thanks. Actually, I am trying to get the historical weather condition for a set of latlon. When I loop through some coordinates, this error appears.
For example, when I try:

get_historical(latlon = c(-34.21248, 150.9994), type = "min")

following message shows:

![image](https://user-images.githubusercontent.com/26557719/40692297-4e6a26a2-63f4-11e8-87b7-41c933f36170.png)

I am new to

[2018-05-30 00:54] jonocarroll commented on #75
Thank you, that's helpful. The 'Closest station' logic is supposedly finding the stationid physically closest to those coordinates, returning Wattamolla. According to the BOM search itself, it turns out Wattamolla has several stations

068218
068190
068161 (closed)

but it does not list 066208 at all.

Using the bureau's station finder with those coordinates it suggests many closed stations are cl

[2018-05-30 00:55] lzb5600 commented on #75
I think I figure out the reason. When I try:

get_historical(latlon = c(-34.21248,150.9994), type = "solar")

It works and fetch the solar exposure data of station "066208".  It seems that it just select the nearest weather station no matter what type of data we are requiring. This may result in the error.

[2018-05-30 00:56] jonocarroll commented on #75
With that code I get

`Closest station: 068219 (WOLLONGONG (APPIN))`

[2018-05-30 00:58] jonocarroll commented on #75
The search for nearest stations occurs regardless of which type is requested. We do not have a cache of which data are available at each station.

[2018-05-30 00:59] lzb5600 commented on #75
@jonocarroll  I have used  update_forecast_towns() and update_station_locations(). May be this is the reason why we get different closest stations.

[2018-05-30 01:00] jonocarroll commented on #75
That would have something to do with it, thank you.

[2018-05-30 01:12] lzb5600 commented on #75
@jonocarroll if we firstly select the "Data about" column as we require in the BOM website, then the proper stations will be listed. Maybe by doing this we do not need to cache them?  Just ignore my comments if that is unviable.

[2018-05-30 01:20] lzb5600 commented on #75
@jonocarroll Thanks for your help.

[2018-05-30 02:52] sfirke commented on #74
Huh.  `janitor::clean_names()` should behave the same regardless of R version.  It depends on R at least v3.1.2.  You all are seeing different behavior under 3.4 and 3.5?

[2018-05-30 04:00] adamhsparks commented on #74
Yes, starting at line 239, https://github.com/ropensci/bomrang/blob/devel/R/get_precis_forecast.R#L239, you can see that I've had to check for the version of R. The colnames that are reported differs. Starting with R 3.5.0 the names are `type_air_temperature_maximum_units_celsius`, with `type` and `units` in the name. In prior versions the colnames appear as `air_temperature_maximum_celsius`.

[2018-05-31 01:17] sfirke commented on #74
Would you be able to share the names that get passed into `clean_names` that are returning the different outputs under different versions of R?  That will be easiest for me to investigate, a reprex of sorts.

[2018-06-02 02:45] adamhsparks commented on #74
Gah. I'm a dork. This is a `tidyr` issue, not `janitor`.

[2018-06-13 03:05] brendo1001 opened #76 "forecast max and min temp columns are assigned incorrectly"
BOM_forecast <- get_precis_forecast(state = "NSW") ## state level data
loc_forecast<- BOM_forecast[BOM_forecast$town == "Wagga Wagga",] ## town level data

Probably just a parsing issue?

[2018-06-13 03:39] adamhsparks commented on #76
Thanks, @brendo1001, simple but embarrassing mistake on my part.

Fixed in commit ce1f98174cea399bf1b6b86a2eeaefe575bbf536

[2018-06-13 04:20] #76 closed

[2018-06-13 04:21] adamhsparks commented on #74
I'll go ahead and close this as I've incorporated a workaround in the code and opened an issue with `tidyr`.

No real issues here any longer. The next release of `bomrang` will only require R >= 3.2.0.

[2018-06-13 04:21] #74 closed

[2018-06-17 05:12] ahaw021 opened #77 "Windows 10 -- Downloading Historic Data Fails"
I get the following issue on windows 10.

zipped <- utils::unzip(tmp, exdir = dirname(tmp))
Warning message:
In utils::unzip(tmp, exdir = dirname(tmp)) : zip file is corrupt

I compared the two files and for some reason, the util downloading package seems to corrupt the files.

I tried using curl_download instead

Is it possible to update the internal.r file to use curl rather than utils::file_dow

[2018-06-17 05:15] jonocarroll commented on #77
I'll have a look. Thanks for the heads up. I tested on Linux but cross-OS success would be worth switching for.

[2018-06-17 05:48] adamhsparks commented on #77
Interesting. I tested it on Windows7 and `download.file()` worked there.

Now I wish I hadn't just released an update yesterday.

[2018-06-17 06:04] ahaw021 commented on #77
I jumped to the newest version of R

utils 3.5.0
R 3.5.0
CURL 3.2

All the other functions work perfectly (i.e. building stations JSON etc).

[2018-06-17 21:03] adamhsparks commented on #77
@ahaw021 and @jonocarroll,
It looks like somehow I accidentally reverted a fix I'd put into place for this very issue.

Using the `download.file` option `mode = "wb"` should fix it. I've put that back the code in the `devel` branch and will test it when I get to work later.

[2018-06-17 22:13] ahaw021 commented on #77
That fixed it :D

![image](https://user-images.githubusercontent.com/26753809/41512623-6e647220-72cf-11e8-8cff-8ff3ff31f9e4.png)

[2018-06-17 22:56] adamhsparks commented on #77
Great! I'm not sure but maybe I just tested it on a Windows machine and didn't incorporate the fix or if it reverted, but it will be in the next CRAN release.

Since Jono and I both are not Windows users, I've also set Appveyor to run all unit tests now. It caught this error and passed with this patch in place.

[2018-06-17 22:56] #77 closed

[2018-07-17 05:10] brendo1001 opened #78 "Gettting historical wind data"
Any chance we can pull the historical wind speed data in get_historical()? Useful for ET0. For that matter ET0  historical data could be useful, but this can be estimated so not too important.

[2018-07-17 05:18] jonocarroll commented on #78
Any chance you could point to a source on the BOM site? So far `get_historical()` grabs data available from this section but I could expand on it if wind data is served somewhere

![image](https://user-images.githubusercontent.com/9496865/42797846-54ec4e86-89d0-11e8-8ee0-5cf3b8bce393.png)

[2018-07-17 05:44] jonocarroll commented on #78
It's not clear that data can be extracted nicely. It appears to be stored in monthly CSV files by location with human-readable site names for the filenames, e.g. `http://www.bom.gov.au/watl/eto/tables/sa/adelaide_(kent_town)/adelaide_(kent_town)-200901.csv`. Adelaide, for example, only goes back as far as 2009, whereas the rainfall data goes back into the 1830s.

It wouldn't be too hard to scrape

[2018-07-17 06:10] offwinter opened #79 "get_historical data"
Hi, I am new to R. When I try to repeat the sample `Canberra_mintemps <- get_historical(latlon = c(-35.2809, 149.1300),type = "min")`

It gives me the error like this:

trying URL 'http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_display_type=dailyZippedDataFile&p_stn_num=070351&p_c=-989916801&p_nccObsCode=123'
Content type 'application/zip' length 19891 bytes (19 KB)
downloaded 19 KB

Error in

[2018-07-17 06:20] jonocarroll commented on #79
Cheers, I'll  look into this. It's a fairly new function so some things can still go wrong occasionally.

[2018-07-17 22:18] adamhsparks commented on #78
If you need historical wind data, many of the BOM stations are in the GHCN data available through https://github.com/ropensci/rnoaa or GSOD data available through https://github.com/ropensci/GSODR. However, the data in GSOD only goes back to 1929. Maybe those are better avenues than scraping the BOM site for this package?

I could check to see if there is a way to align station IDs between _GSODR_

[2018-07-17 22:44] brendo1001 commented on #78
Thanks guys for looking into this. Its not a biggi but thought i would enquiry. I will follow up the GSODR lead though.

[2018-07-18 08:30] adamhsparks commented on #79
Duplicate of https://github.com/ropensci/bomrang/issues/75

[2018-07-18 08:32] adamhsparks commented on #79
Meant to mark as duplicate of this: https://github.com/ropensci/bomrang/issues/77

[2018-07-18 21:35] adamhsparks commented on #78
Closing this issue. Can reconsider in future if a better option than scraping the site can be found.

[2018-07-18 21:35] #78 closed

[2018-07-18 21:36] adamhsparks commented on #75
Closing this issue. Please feel free to reopen if you have further details about this issue.

[2018-07-18 21:36] #75 closed

[2018-07-19 10:39] adamhsparks commented on #79
This fix is available from CRAN just an hor ago now.

--
Adam H Sparks

On 19 July 2018 at 20:25:42, 0Matt (notifications@github.com) wrote:

[2018-07-19 11:01] #79 closed

[2018-08-20 03:14] mbertolacci opened #81 "Non-current stations unavailable from get_historical"
It appears that `get_historical` only recognises stations that are still current, rather than all historical stations. For instance, the following line fails with 'Error: Station not recognised':

[code]

but this station actually has data at http://www.bom.gov.au/climate/data/.

Looking at https://github.com/ropensci/bomrang/blob/master/data-raw/create_BOM_station_list.Rmd suggests this is becaus

[2018-08-20 03:32] jonocarroll commented on #81
I tagged you in because I'm not sure if the station list code tracks older stations. If you need me to make adjustments in `get_historical` then I'm certainly happy to do so.

[2018-08-20 03:42] mbertolacci commented on #81
One thing that's worth noting is that different stations have historical data for different product types. For instance, 68016 has historical rainfall data, but doesn't appear to have max temperature data.

In my own package [bomdata](https://github.com/mbertolacci/bomdata) (which I am probably going to simplify/change now that bomrang is out and when/if this issue is fixed), I use the URL http://

[2018-08-20 03:46] jonocarroll commented on #81
That looks very useful for populating a station database. Cheers!

@adamhsparks I'm happy to switch around the station-processing parts of `get_historical` to scan this data too, or we could cache it, ...

[2018-08-20 04:25] adamhsparks commented on #81
Thanks for the additional info, @mbertolacci. Let me have a look at what it will take. Modifying the internal database has a flow-on effect to more than one function in `bomrang`. @jonocarroll, this may take both of us to get it fixed I think. I'll need to see what needs to be done constructing the database. Off the top of my head, maybe I can just generate a new database that includes all of the

[2018-08-23 04:42] deanmarchiori opened #82 "Get Latest Radar Images"
We currently have `get_satellite_imagery()`  which gets BOM Satellite GeoTIFF Imagery.

Do we think there is value in adding functionality to get [radar](http://www.bom.gov.au/australia/radar/index.shtml) imagery? It seems like a popular product and may assist users looking to include imagery into rmarkdown reports etc.

The images are all exposed to the FTP and can be brought in via `raster` so s

[2018-08-23 04:44] jonocarroll commented on #82
Ooh! Ooh! `(gg?)animate`d loop of recent radar observations (like the BOM page)... I'd love that!

[2018-08-24 00:54] adamhsparks commented on #82
Ooohhh, nice.

Yes, let's add this!

[2018-08-26 12:33] adamhsparks commented on #81
Well, phooey. I thought I had a fix for this but I guess not. Apparently the example station does not fit the method that we've used for determining what stations have a valid JSON file URL to retrieve data from, which is what the `get_historical()` is currently using.

I tried the easy route to just not remove stations that are not current since I thought that this would fix the issue. However, t

[2018-08-27 00:06] deanmarchiori commented on #82
Have submitted PR #83 for review. Let me know what you think, open to any feedback.

[2018-08-27 04:58] deanmarchiori opened #84 "get_radar_imagery function arguments default"
PR #83 introduced a new function `get_radar_imagery()`. The only argument to this function is `product_id` which is required and defaults currently to 'NULL'. Given there is no sensible default value this can be removed and argument parsing in the function can be updated. This will ensure the argument does not appear optional to a user.

[2018-08-27 05:02] deanmarchiori opened #85 "Include option to download radar images"
Enhancement request from review of PR #83 :

"For `get_radar_imagery` I wonder if it's worth providing an option to just download the images themselves, as well as the current functionality."

[2018-08-27 05:03] deanmarchiori commented on #82
PR #83 merged. Closing.

[2018-08-27 05:03] #82 closed

[2018-08-27 10:58] deanmarchiori commented on #84
Resolved. Pushed to `devel` branch in commit https://github.com/ropensci/bomrang/commit/ef2a7cf65fc0e8232f8c86f7648738799b3b538f

[2018-08-27 10:58] #84 closed

[2018-08-28 05:15] deanmarchiori commented on #85
@adamhsparks just prepping a PR for this change and having issues documenting with roxygen2
Are you able to check on your end?   Not sure if local error.

Updating bomrang documentation
Loading bomrang
Error in .f(.x[[i]], ...) : attempt to apply non-function
Calls: suppressPackageStartupMessages ... read_pkg_description -> read.description -> <Anonymous> -> .Call -> .f
Execution halted

Exited wi

[2018-08-28 05:30] adamhsparks commented on #85
I'm able to use `devtools::document()` on the devel branch with no issues,
is that what you're referring to?

On Tue, 28 Aug 2018 at 15:15, Dean Marchiori <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |  Mobile 0415 489 422 | Twitter @adamhsparks
<https://twitter.com/adamhsp

[2018-08-28 05:40] deanmarchiori commented on #85
Yes, perfect thanks. I'll try from home later.

[2018-08-28 06:58] deanmarchiori opened #86 "get_coastal_forecast test failure"
Recent package tests show a failure in tests for `get_coastal_forecast`:

1.

ncol(bom_forecast) is not less than 19. Difference: 1

It looks like BOM has added an additional field to the coastal waters forecast
![image](https://user-images.githubusercontent.com/9559770/44705866-31868e00-aae3-11e8-8427-fcc5ac9975a3.png)
The function still works but the extra column is causing the test to fail.

2.

[2018-08-28 07:08] adamhsparks commented on #86
They do something similar with the ag bulletin, IRRC. Based on that, I'd
just add a check to see if the field is there. If it's not, add it and fill
it with `NA` to keep the output consistent no matter what BOM provides.

On Tue, 28 Aug 2018 at 16:58, Dean Marchiori <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|

[2018-08-28 11:02] deanmarchiori commented on #85
Turns out Roxygen2 6.1.0 doesn't play well with Windows. Worked fine on my linux machine, but had to roll back to v6.0.1 on Win. Oh well...

[2018-08-28 22:13] deanmarchiori commented on #86
addressed in PR #87. Merged now so closing.

[2018-08-28 22:13] #86 closed

[2018-08-28 22:13] deanmarchiori commented on #85
Addressed in PR #87. Merged now so closing.

[2018-08-28 22:13] #85 closed

[2018-08-29 01:56] mbertolacci commented on #81
Nice work, yes, it's pretty complicated! In the URL http://www.bom.gov.au/climate/data/lists_by_element/alphaAUS_136.txt the 136 corresponds to the daily rainfall product. That's the nccObsCode that goes into climate data URLs. The other nccObsCode values are:

- Max temp = 122
- Min temp = 123
- Solar exposure = 193

Sites also have different p_c codes for different values of nccObsCode so that n

[2018-08-29 02:17] adamhsparks commented on #81
Ah, thanks, that's exactly what I was needing.

[2018-09-10 06:05] adamhsparks commented on #81
I've just pushed a new commit that is my first attempt at addressing this Issue.

@jonocarroll, would you please look over what I've done to your function and let me know what you think?

I've incorporated functionality to download the metadata from BOM as @mbertolacci suggested. Then function checks for the station in the list and the data availability for the station.

Alternatively the user may

[2018-09-12 08:00] adamhsparks commented on #81
I've written tests and documentation for this. Everything seems to be working well, so I'm going to close this issue now and release the updated version of `bomrang`.

Please feel free to open a new issue if something new arises out of this.

[2018-09-12 08:00] #81 closed

[2018-09-13 04:39] jonocarroll commented on #81
Argh! I'm overseas for work at the moment and had this in my priority inbox to have a look at sometime... then I hear it's merged and released. Sorry. I do trust you to have handled it nicely but I'll have a look through nonetheless.

[2018-09-13 05:06] adamhsparks commented on #81
@jonocarroll, sorry mate! I figured you'd had a look since I hadn't heard anything back from you. My mistake, I should have waited a bit longer. It took me long enough to get around to it.

I'm rethinking my handling with the `meta` argument, but I don't have a good suggestion for how to handle it other than how I have now, so if you have something I'm happy to hear it.

[2018-09-13 16:31] jonocarroll commented on #81
I will definitely have a look.

[2018-09-17 20:45] adamhsparks opened #88 "Incorporate static images in vignette"
The automated checks fail as will installation on users' systems if BOM fails to respond with an image.

Suggest incorporating static images into package vignette to avoid errors and make installation faster.

https://cran.r-project.org/web/checks/check_results_bomrang.html

[2018-09-17 20:57] jonocarroll commented on #88
Functions which rely on other servers should probably be robust against
incidental failure. A common technique would be retry on fail. As for how
to test a function which may fail, I'd like to avoid the popular route of
'just don't test'. With proper error-handling the function could return
something of the appropriate class, even if it's empty.

On Mon, 17 Sep. 2018, 1:45 pm Adam H. Sparks, <noti

[2018-09-17 21:05] adamhsparks commented on #88
Good point. I've done this where numeric and text data are concerned, but haven't yet with images. Though that seems like a separate issue to me that should be opened as I'd still like the proper image to appear in the vignette.

[2018-09-17 21:16] jonocarroll commented on #88
My issue with static is that it can become stale - either you or BOM change
something and all of a sudden the vignette renders but is wrong. Same
reason the code is in .Rmd not just .md but as a first-pass mitigation
strategy it would work.

On Mon, 17 Sep. 2018, 2:05 pm Adam H. Sparks, <notifications@github.com>
wrote:

[2018-09-17 21:17] adamhsparks opened #89 "Retry on failure to retrieve requested data, else return proper class"
@jonocarroll wrote in another issue,,

Implement this idea for `bomrang` functions retrieving data from BOM servers that may not properly respond.

[2018-09-17 21:19] adamhsparks commented on #88
OK, I'll agree with that point but what you you put in documentation if BOM doesn't respond at the time the vignette is built?

[2018-09-17 21:32] jonocarroll commented on #88
Depends how much code you want to write, but that's one option. Another
would be to logic-branch the output (possibly with a formal class). Or just
catch the error, print it as a message, and return safely from there. If
there's no processing of the file downstream from the image that works. If
there is, then _that_ needs to know what do do too.

I could imagine some sort of image_or_error class w

[2018-09-17 21:39] adamhsparks commented on #88
Nice. Thanks these ideas. I'll see what I can do.

[2018-09-17 22:46] #89 closed

[2018-09-18 12:35] adamhsparks commented on #88
I've not coded anything yet but the .svg and this .png file are now in the devel branch of the repository.

https://github.com/ropensci/bomrang/blob/4ac4345e8ba1c2b533110b1f7aabccdebd0555f0/man/figures/image_error_message.png

[2018-09-20 12:28] adamhsparks opened #90 "Incorporate custom print method for historical metadata"
Use custom S3 class and print method for `get_historical()` outputs to display the metadata above the data frame rather than returning a list.

[2018-09-20 12:32] adamhsparks commented on #90
e.g., this commit https://github.com/adamhsparks/nasapower/commit/018ec29e90adcfb5dc52e0733f7a26736324180d

[2018-09-20 20:18] adamhsparks commented on #90
All yours, mate. I'll be happy to see what you implement that I can borrow for `nasapower`.

[2018-09-21 04:47] adamhsparks commented on #90
This shows where I ended up with the `nasapower` package for the metadata header.

https://adamhsparks.github.io/nasapower/articles/nasapower.html#using-get_power

[2018-09-26 21:20] adamhsparks opened #92 "get_ag_bulletin fails"
BOM appears to have changed the API for the ag bulletins. It's now failing due to new columns and/or new column names.

[2018-09-27 03:38] adamhsparks commented on #92
Fixed with 0d43ef8d0d8584d94a82bc4c74e418b64a8b4271 and 59d76ecbe51521bc560160e968611b03e762890d

[2018-09-27 03:38] #92 closed

[2018-10-28 03:31] adamhsparks opened #93 "Use vcr and webmocker?"
This may entail making some changes with fetching the data, e.g. using `httr` to fetch the data via FTP rather than `curl`, but we can start testing non-responses and the like if this is done.

[2018-10-28 14:00] adamhsparks commented on #93
Or wait for `curl` to make it into the `webmockr` stable of supported packages since it's on the way

[2018-11-23 00:40] adamhsparks commented on #90
@jonocarroll, how are you coming with this?

[2018-11-23 03:51] jonocarroll commented on #90
It's coming along but not as fast as I had hoped. I now have the `dplyr`-interfaces all working and passing checks, I just need to generalise the method to make it more useful. I fly again tomorrow, so prepare for incoming changes.

[2019-02-06 00:17] adamhsparks opened #94 "Add NDVI maps download capabilities?"
BOM offers NDVI maps, could offer an interface to download them if they're easily accessible as with other map data.

[2019-02-23 05:55] ghost opened #96 "BoM water online"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
BoM has an online portal to download water data, such as watercourse levels, storage volume, etc.
It would be very useful to be able to query water data by using a similar command as "get_historical" for climate records. Opposite to climate data, the water portal offers the possibility to download all the available recor

[2019-02-23 06:46] adamhsparks commented on #96
Thanks, Dario! We'll look into this.

[2019-03-18 21:23] adamhsparks commented on #90
I've merged the PR with the devel branch and am working on getting this ready for release. There's several bugs that have crept in somehow (perhaps BOM has changed some of the XML?) over time, it's time to get this out the door.

[2019-03-20 11:31] adamhsparks commented on #90
I've implemented your new print method, @jonocarroll, for the `get_current_weather()` function as well. Works nicely. Having some issues with the `dplyr` re exported `filter()` function, will open a new issue and close this one as I think we're there for this issue.

[2019-03-20 11:31] #90 closed

[2019-03-20 15:54] jonocarroll commented on #90
Cool beans! Re-exporting `filter` caused me some headaches but I thought I had it working now. Make sure to do a clean build/document.

[2019-03-20 20:05] adamhsparks commented on #90
Yup, I've regenerated documentation due to some other changes. No more raw output from current stations and an alias for `get_current_weather()`, just `get_current()` to mirror `get_historical()`.

[2019-03-21 05:11] adamhsparks commented on #88
I did eventually use a `tryCatch()` in the functions to point to this error message if the proper file is not downloaded. I just forgot to close this issue.

[2019-03-21 05:11] #88 closed

[2019-03-22 03:51] adamhsparks opened #97 "Add amoc header info to bulletin data"
BOM serves useful information about validity times and issue times and dates for the bulletins. This would be good to include in a printed metadata header as the historical and current weather station data have printed about them.

Example amoc:

[code]

[2019-03-22 03:52] adamhsparks commented on #97
This would require some effort since the bulletins can be collated country-wide, maybe better as fields in the data itself?

[2019-03-22 04:25] adamhsparks opened #98 "Warnings about links in documentation on installation"
Warnings appear on installation (at least on older versions of R, I've been unable to duplicated on my systems).

Joris provides an answer how to fix here: https://stackoverflow.com/questions/48430093/how-do-i-resolve-rd-warning-missing-file-link-when-building-packages-in-rstudi

[code]

[2019-03-22 04:57] adamhsparks commented on #98
This commit should fix this issue. https://github.com/ropensci/bomrang/commit/f45b8fcbe2bd6f0bd76799d2b34e7cab9fad842b

[2019-03-22 04:57] #98 closed

[2019-05-22 04:48] jimjam-slam opened #99 "Monthly products and/or ACORN-SAT for get_historical()?"
I'm writing an app at the moment that involves pulling a combination of:

1. raw daily temp and precip station data (products `IDCJAC00[10, 11]`),
2. raw daily precip data (`IDCJAC0009`)
3. raw _monthly_ temp data (`IDCJAC000[2, 4, 5–8]`) and
4. ACORN-SAT temperature data

`get_historical()` covers cases (1) and (2) but not (3) or (4). My understanding is that implementing case (3) would be simila

[2019-05-22 05:16] deanmarchiori commented on #99
Hey James,

Good to hear from you. Nice suggestions.

I can see case (3) being a nice addition to `get_historical()` say with an extra parameter `period = c("daily", "monthly")` or similar.

Agree case (4) sounds like its own thing.

I'm not 100% sure, but I think the determination for that URL parameter is covered in the source at: https://github.com/ropensci/bomrang/blob/5c32b89e9939a550c25aca4d

[2019-05-22 05:50] adamhsparks commented on #99
I'm with @deanmarchiori on both items, @jonocarroll, what say ye about the modification to `get_historical()`?

It all sounds like a nice addition. We're happy to have PRs here. That's basically how this package came into being.

[2019-05-22 06:19] jonocarroll commented on #99
Sounds good to me. I don't quite follow why the monthly data needs to be scraped vs summarised from the daily data, but if there's a URL for it then I'm happy to have it processed consistently. Is the monthly data available for all the codes (rain, solar, etc...)?

The `p_c` sleuthing is undoing whatever intentional/accidental obfuscation the BOM hides their URLs behind, but it requires the second

[2019-05-22 06:52] rensa commented on #99
Thanks, everyone!

Yeah, I'm pretty comfortable manually aggregating daily data to monthly myself—in fact, where we use ACORN-SAT here we have to do that anyway—but since the products are available and our team prefers to use existing BOM products where possible, that's what I'm doing 😅

One obstacle could be that `.get_nnc()` currently retrieves the list of stations available for each known NCC c

[2019-05-22 07:28] rensa commented on #99
I should add that I haven't tried to use monthly rainfall or solar, but it looks like the NCC codes are:

* Monthly rainfall ([probably total](http://www.bom.gov.au/climate/cdo/about/about-rain-data.shtml)): 139
* Monthly mean solar exposure: 203

(Can't find any mention of monthly extremes for these two, though.)

[2019-05-24 02:43] rensa commented on #99
Unfortunately, the [JavaScript used on the monthly HTML pages](http://www.bom.gov.au/climate/cdo/scripts/hilitestats.js) also appears to scrape `p_c` from the HTML.

The only thing I can think of from here is if `av?` can take a value for `p_display_type` other than `availableYears` that can provide `p_c` 😕

[2019-05-24 05:06] jonocarroll commented on #99
I'll also have a play if I get the chance. Could you please link a few daily and monthly data pages for me to test?

[2019-05-24 05:19] softloud commented on #99
Product here is not the same as product [here](https://en.wikipedia.org/wiki/Product_(mathematics)). That has been my contribution to this so far :joy_cat: :croissant:

[2019-05-24 05:28] benmoretti commented on #99
Hi - sorry lurking on this for a while. 

Last year I did some scraping on the ACORN-SAT data while I was learning Shiny and arguing with a climate change denier. I've got a notebook here for it 

http://rpubs.com/benmoretti/434904

and a Shiny dashboard for the aggregated data

https://benmoretti.shinyapps.io/ACORN_SAT_stations_data/

There might be some useful data parsing code in there 

Cheers

[2019-05-24 06:09] rensa commented on #99
Thanks @jonocarroll! Here're some pages:

Station | Product | Product NCC code | Page link | Download link
---------|----------|---------------------|-----------|------------------
040764 | Daily maximum temperature | 122 | `http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_nccObsCode=122&p_display_type=dailyDataFile&p_startYear=&p_c=&p_stn_num=040764` | `http://www.bom.gov.au/jsp/ncc/cdio/weath

[2019-05-24 06:11] rensa commented on #99
Thanks very much, @benmoretti! As a repeat ACORN-SAT user, I'm very grateful that those URLs are a lot less ambigious 😁

[2019-07-02 00:37] ozjimbob opened #100 "get_current_weather - JSON files not found, but they do exist"
In the get_current_weather function, a number of stations, or lat/long queries, return the error "However, a corresponding JSON file was not found at bom.gov.au.".  However, the corresponding JSON files do appear to exist - I'm assuming the BOM have moved or changed something and bomrang needs updating to reflect the change?  Example below is for "Canberra" - looking at the BOM's website, the appr

[2019-07-02 02:35] adamhsparks commented on #100
I'll have a look later.

Do they appear if you update the internal list? https://docs.ropensci.org/bomrang/articles/bomrang.html#using-the-update-functions

[2019-07-02 03:02] ozjimbob commented on #100
That's an excellent point - I wasn't aware of that function (silly me).  However, running it doesn't help. Both update_forecast_towns() and update_station_locations() return the following error:

[code]

Note that I never actually pressed Y or N to proceed - the error appeared immediately on running the function.

[2019-07-02 04:14] adamhsparks commented on #100
Ah, OK. That's a bug to be fixed.

[2019-07-02 04:33] adamhsparks commented on #100
I've confirmed the first issue as well. I'll see what I can do to get both corrected. Thanks for opening this issue.

[2019-07-02 10:42] adamhsparks commented on #100
I think I've found it. BOM changed something in the designators. I've had to recreate the databases and rewrite the function for the end-user to update them as well, but I think it's working now.

I've fixed the other issue you noted with not being able to run `update_station_locations()`, I think. Running checks on rhub now and hopefully will merge into `devel` branch tonight with an aim to get a

[2019-07-02 10:50] EwenH commented on #100
On an acute tagent. Have you heard about the "new" api that was supposed to replace all these easy to consume files via a single portal. This is clearly not for simplicity, rather monetisation. It looks like the project has stalled significantly atmbut I am sure it will reappear over time.

[2019-07-02 22:16] adamhsparks commented on #100
Yeah, I've heard rumblings about it but seen little real substance.

If it is a "real" API, that's OK. It would take time to rewrite the package, but I think we could, I (re)wrote [nasapower](https://github.com/ropensci/nasapower), when NASA did the same thing, [gory details](https://ropensci.org/blog/2019/05/14/nasapower/). If it's not open, that's another matter that we obviously have no control

[2019-07-04 21:33] adamhsparks commented on #100
Closed with release https://github.com/ropensci/bomrang/releases/tag/0.6.0

[2019-07-04 21:34] #100 closed

[2019-07-08 23:53] ozjimbob opened #102 "End year stored as character in JSON url list causes error"
After having installed bomrang 0.6, and having run update_station_locations(), calling the get_current_weather() function with a lat/long, an error is returned:

[code]

This seems to be a result of the **JSONurl_site_list.rda** file storing the record end dates as character, meaning the "count"  subtraction operation in the get_current_weather() return statement fails.

[code]

Note that the only

[2019-07-12 06:36] adamhsparks commented on #102
Whoops. They should all be integer. Thanks, I'll have a look.

[2019-08-05 05:21] jimjam-slam opened #103 "Best way for get-current_weather to handle station IDs?"
`get_current_weather()` currently accepts either a `station_name` (that is precisely and then fuzzy matched) or a `latlon` vector:

[code]

I was thinking of submitting a PR to allow this function to accept a `stationid`, like `get_historical()` does, since the two functions ultimately use the same `JSONurl_site_list` to look stations up. I'm not sure (if you were to take this PR, that is), whethe

[2019-08-05 06:58] deanmarchiori commented on #103
Agree standardizing the API where possible sounds like a good idea.

It seems like using `station_id` may be more precise? I wonder whether there was a reason why `station_name` was used in `get_current_weather()`? I can see in the function details there are some disclaimers around its use:

[2019-08-06 03:45] adamhsparks commented on #103
*Disclaimer* I didn’t write either of these functions, but part of it is having several developers working on the same package I would guess.

I do think it would be good to standardise the parameters across functions as much as we can, but we need to remain mindful of the BOM terminology too. In some cases that differs from product to product, and where it does I’d prefer to stick to their nomenc

[2019-08-09 11:59] adamhsparks commented on #102
I did fix this, it's just not on CRAN yet. It will be in the next release that we're working up to now.

Thanks for reporting this, @ozjimbob.

[2019-08-09 11:59] #102 closed

[2019-08-09 12:00] #93 closed

[2019-08-09 12:01] adamhsparks commented on #94
Unless someone specifically asks for them, I don't have the time to implement this.

[2019-08-09 12:01] #94 closed

[2019-11-13 03:02] Blundys opened #105 "Incompatability of "bomrang_tbl" class with dplyr functions"
Hi, your vignette states that the bomrang_tbl class is designed to be compatible with dplyr functions but I have found that it causes many issues. I have included several examples below:

1. `dplyr::group_by()` does not preform as expected, subsequent functions such as `dplyr::summarise()` or `dplyr::filter()` return results the same as if data was not grouped
2. If data.frame and bound together u

[2019-11-13 03:47] jonocarroll commented on #105
Interesting... thanks for the report. I'll have a look into what's going on.

[2019-12-08 01:17] adamhsparks opened #107 "Failing CRAN checks"
See https://cran.r-project.org/web/checks/check_results_bomrang.html for errors.

Fix by date is 08-01-2020

[2020-01-04 20:48] KyleHaynes opened #108 "Incorrect vignette reference?"
In the `R/get_current_weather.R` It references the following vignette, though it doesn't exist?

[code]

Should it be updated to be something like?

[code]

[2020-01-04 21:12] KyleHaynes opened #109 "Should get_precis_forecast be explicit in returning data.table brackets?"
Should the `get_precis_forecast` be explicit in returning `dt[]` to avoid confusion to non data.table users? E.g. as detailed in the following S/O post: https://stackoverflow.com/a/33196350/2449656

[code]

[2020-01-04 23:41] adamhsparks commented on #109
Thanks, I'd noted, but thought it was my local installation and didn't follow it much further.

This applies to `get_ag_bulletin()` and `get_coastal_forecast()` as well.

[2020-01-04 23:41] #109 closed

[2020-01-05 00:04] adamhsparks opened #110 "get_historical() issues with dplyr in vignette"
Perhaps related to https://github.com/ropensci/bomrang/issues/105?

[code]

<sup>Created on 2020-01-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

I'm working on the `devel` branch right now.

[2020-01-05 00:05] adamhsparks commented on #110
Wait, I just realised, I have unmerged commits from `master` after I typed I was working on `devel`. Let me check that first.

[2020-01-05 00:12] adamhsparks commented on #110
Nope, still there after merging the `master` branch

[2020-01-05 00:13] adamhsparks commented on #110
https://github.com/ropensci/bomrang/blob/f8618849dc69a2545035733081b3cdb7da7a2438/vignettes/bomrang.Rmd#L1709

[2020-01-05 00:19] adamhsparks commented on #108
Thanks. I've corrected it in the `devel` branch vignette. Planning a release early in the week, it will be included in that.

[2020-01-05 00:20] #108 closed

[2020-01-06 00:20] rward3182 opened #112 "Error on query no json"
Hi Adam
I am interested in Boomerang but I have tried it a few times. I consistently get this error. Tried it on both mac and PC. Any ideas? Thanks Roger Ward

Error:
A station was matched.  However, a corresponding JSON file was not found at bom.gov.au

[2020-01-06 00:30] adamhsparks commented on #112
Could you please provide a reproducible example for me?

thanks

[2020-01-06 23:59] rward3182 commented on #112
Adam
Thanks. I have installed Boomerang on both Windows and OSX and get same
error message. I have attached a screenshot.
I am hoping its something simple as it looks like a great product.

Specific command: Melbourne_weather <- get_current_weather("Melbourne
(Olympic Park)")
Roger

[image: Screen Shot 2020-01-07 at 10.54.58 am.png]

On Mon, 6 Jan 2020 at 11:30, Adam H. Sparks <notifications@githu

[2020-01-07 00:21] PaulMelloy commented on #112
Hi Roger,
The code you supplied works fine for me, I am on a Windows machine.
The only way I was able to reproduce the error from your code is if I disconnected my internet. Perhaps there might be a firewall or antivirus blocking the connection to the BOM servers?
Does the same error happen with other locations or functions?
Cheers

[2020-01-07 01:31] rward3182 commented on #112
Paul
Thanks for taking a look at this.
The connection is working fine for package installation.
see below but returns error with:  Melbourne_weather <-
get_current_weather("Melbourne (Olympic Park)")
So I don't think it is connectivity.

[image: Screen Shot 2020-01-07 at 12.03.20 pm.png]
Traceback on error
 Error:
A station was matched.  However, a corresponding JSON file was not found at
bom.gov.

[2020-01-07 12:01] adamhsparks commented on #112
I'm also unable to duplicate either issue. Both commands work fine for me on both macOS and Linux machines using the version 0.6.0 that's currently available from CRAN and the unreleased 0.6.1 that I just submitted minutes ago.

Seeing the second error as well, there appears to be something wrong with your bomrang installation. Try reinstalling it.

[2020-01-07 12:05] adamhsparks commented on #107
Submitted to CRAN with fixes, https://github.com/ropensci/bomrang/commit/3431e5822e08db74d516464edf6c99137d8a6d62

[2020-01-07 12:05] #107 closed

[2020-01-07 12:07] adamhsparks commented on #103
I've just submitted a new minor release to CRAN that fixes a few bugs and more importantly keeps bomrang on CRAN due to failing some checks.

There are some fairly major changes waiting in the devel branch right now if we wanted to roll this into the next release with those.

[2020-01-07 12:11] adamhsparks commented on #105
The `group_by()` bug is fixed in the 0.6.1 release that I had to make to keep CRAN happy due to some failing tests on the CRAN server.

The `bind_rows()` bug still exists and should be fixed in the next release.

[2020-01-08 00:14] jonocarroll commented on #110
I'll try to see what's going on but the first example looks like failure to document/export. The issue with select may be the same (not exported correctly).

[2020-01-08 00:23] adamhsparks commented on #110
I did find one of the `@param`s wasn't documented in there I think and fixed that in the release I sent to CRAN last night. Working on a much larger release with new functionality right now so no hurry.

I just had to fix some tests that were causing failures on CRAN servers and had to get it pushed to CRAN by yesterday.

[2020-01-08 11:23] rward3182 commented on #112
Adam
Ok. I'll give it a try. I suspect its package issue.
Thanks
Roger

On Tue, 7 Jan 2020 at 23:01, Adam H. Sparks <notifications@github.com>
wrote:

--
Kind Regards
Roger

----------------------------------
Roger Ward
0434 315 611

[2020-01-08 23:18] adamhsparks commented on #110
I've been looking at `select()` this AM. It's being exported as far as I can tell, it's in the NAMESPACE with all the other dplyr functions that are re-exported.

Still digging to see what I find.

[2020-01-08 23:30] adamhsparks commented on #110
This does work though.

[code]

[2020-01-08 23:45] adamhsparks commented on #110
Fixed! Will push to `devel` shortly.

[2020-01-09 00:24] adamhsparks commented on #110
Fixed in https://github.com/ropensci/bomrang/commit/77ddd3028f2243406db84448232aaeeb8372f14a

[2020-01-09 00:24] #110 closed

[2020-01-09 00:27] jonocarroll commented on #110
Is it clear what the issue was? I don't see any changes specific to `select` in that commit.

[2020-01-09 00:34] adamhsparks opened #113 "Split forecast functionality for local files into separate functions"
@PaulMelloy has kindly added functionality to parse local XML files in cases where access to insecure FTP may be prohibited.

To keep the functions simple and well-defined I'll split the functionality out from `get_*` to `parse_*` for local XML files in the way of GSODR, https://github.com/ropensci/GSODR, with `get_GSOD()` and `reformat_GSOD()`.

[2020-01-09 00:38] adamhsparks commented on #110
No, I'm not clear on what the issue was either. I'm with you. I didn't see any changes in NAMESPACE that fixed it, but it works now. Black magic?

[2020-01-09 00:40] jonocarroll commented on #110
Then let's never question it again, lest it break out of spite. Good work.

[2020-01-09 08:35] adamhsparks commented on #113
Closed with https://github.com/ropensci/bomrang/commit/6185c1f017647a40594b2b304aad8cc91ec99082

[2020-01-09 08:35] #113 closed

[2020-01-09 08:48] adamhsparks opened #114 "Fix bug when requesting all reports for XML family functions"

[2020-01-09 11:48] adamhsparks commented on #114
Fixed in https://github.com/ropensci/bomrang/commit/9e889a1f3c8db4d210157e7b65071a6820e51df6

[2020-01-09 11:48] #114 closed

[2020-01-09 22:31] adamhsparks opened #115 "Improve test coverage"
Current coverage is only ~82% with no coverage for a few files. Notably the `get_weather_bulletins()` has none along with the new `parse_()`s.

[2020-01-12 21:32] adamhsparks opened #116 "Fix failing CRAN checks"
* `get_historical()` still fails CRAN checks where there is no Internet connectivity.

* File caching directories are failing on macOS and Solaris???

[2020-01-12 21:34] adamhsparks commented on #116
`get_historical()` only gives an error message *AFTER* checking the server. I wasn't aware of this as the other bomrang functions should fail before any request is made, fail early, fail often. So I'd not included a `skip_on_cran()` in the error checking section of `get_historical()` tests.

This is fixed in https://github.com/ropensci/bomrang/commit/fa9c0462c85f701633537d8d533c8d2c0ac05746

[2020-01-12 22:43] adamhsparks commented on #116
Issues with file caching should be fixed with this commit, https://github.com/ropensci/bomrang/commit/1a90dcd0ff93f302fb40b1238ff83b085e500618 where `tempdir()` is used for writing any files to avoid any issues with not having write access to ~/

[2020-01-15 23:47] PaulMelloy commented on #105
Hello,
This bug is still happening for me.
`install.packages("bomrang")
library(dplyr)
library(devtools)
#install_github("https://github.com/ropensci/bomrang")
library(bomrang)

dat1 <- get_historical(stationid = sweep_for_stations()[1,1])

dat1 %>%
   group_by(year) %>%
   summarise(rain.mean = mean(rainfall,na.rm = TRUE))

class(dat1)

data.frame(dat1) %>%
   group_by(year) %>%
   summarise(rain

[2020-01-16 00:02] PaulMelloy commented on #105
I updated my version of R and now it is working

[2020-01-16 04:02] adamhsparks commented on #116
These should be fixed. It's passing local, R-builder and and rhub checks.

[2020-01-16 04:02] #116 closed

[2020-01-16 04:08] jonocarroll commented on #116
Do you need that to be a flag?

https://github.com/ropensci/bomrang/blob/master/.github/workflows/main.yml#L52

[code]

[2020-01-16 04:10] jonocarroll commented on #116
Or if you want to be verbose, `--yes --quiet`.

[2020-01-16 06:12] adamhsparks commented on #116
Good catch. But it's already been fixed in the devel branch.

https://github.com/ropensci/bomrang/blob/1a90dcd0ff93f302fb40b1238ff83b085e500618/.github/workflows/main.yml#L49

[2020-01-19 23:07] adamhsparks commented on #112
I'm going to close this due to inactivity. Feel free to reopen it if necessary.

[2020-01-19 23:07] #112 closed

[2020-01-19 23:09] adamhsparks commented on #115
Test coverage is now ~91% with tests for all major functions except for the functions in dplyr.R

[2020-01-19 23:09] #115 closed

[2020-01-19 23:49] jonocarroll commented on #115
Add `# nocov` to those lines if they are untestable.

[2020-01-20 00:13] adamhsparks commented on #115
I don't know, they might be, I've not really looked into it too much yet so
I didn't use the `# nocov` option yet

On Mon, 20 Jan 2020 at 09:49, Jonathan Carroll <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
http://adamhsparks.netlify.com/
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |  Mobile 0415 489 422 | Twitter @a

[2020-01-20 23:04] adamhsparks commented on #103
@rensa, are you thinking to submit a PR for this still or should I go ahead and start working on it for the next release?

[2020-01-20 23:54] adamhsparks opened #117 "Standardisation within package and v1.0.0"
For the next release, let's make it 1.0, I'd like to break some stuff and standardise functionality across the package. No timeline on this. I've just spent a good chunk of time polishing and fixing bugs for 0.7.0 while I'm on holiday since I have time to do this right now.

* Function names should follow the same naming scheme, e.g. get_historical() > get_historical_weather()

* Standardise the i

[2020-01-21 00:26] rensa commented on #103
I'm sorry, Adam—I'd love to do the PR, but the way I'm going at the moment, it might be a few weeks before I get the bandwidth 😔 If you're keen to get the next release out the door, I'm not sure I can contribute in time!

[2020-01-21 00:33] adamhsparks commented on #103
No hurry at all. See the issue I just opened for v1.0.0. This PR is included in that and I'm in no hurry after releasing 0.7.0 on CRAN today.

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology  |  Centre for Crop Health
Institute for Life Sciences and the Environment (ILSE)  |  Research and Innovation Division
University of Southern Queensland | Toowoomba, Queensland | 4350 | Austr

[2020-01-21 01:48] rensa commented on #103
Okay! I'll aim for that then :)

[2020-01-29 05:41] rward3182 commented on #112
Adam
Thanks for looking into this. I was away for a couple of weeks in Tasmania.
I got BOMRANG up and running on my work PC when I got back from leave. The
problem was a lack of three libraries.

data.table,  magrittr and dplyr once I installed them it worked well. It
was probably my lack of R experience but maybe worth listing them as
dependencies in the doco.

But great effort on BOMRANG very us

[2020-01-29 09:57] adamhsparks commented on #112
Hi Roger,
The packages you've listed are listed as 'Imports' in the DESCRIPTION file. When installing bomrang from CRAN (or GitHub using `devtools::install_github()`) they should automatically be installed if they aren't already.

Glad it's working now for you. Thanks for the feedback.

Cheers!

[2020-01-29 20:59] rward3182 commented on #112
Adam
Thanks. I did install from the command line Git. But still got the issue. But good to have it working.
Thanks

Sent from my iPhone

[2020-03-12 00:07] adamhsparks opened #118 "Fetch 10 minute or hourly data"
@PaulMelloy and I are working on another project that requires some wind data and Paul cobbled together, quite nicely, some code that used bomrang's `sweep_for_stations()` and `get_met_data()` from stationaRy to get hourly data for our research. This made me think, we can use stationaRy as a ~~Depends~~ Imports and bomrang can fetch sub-daily historical data.

[2020-03-12 00:44] jonocarroll commented on #118
After Jim Hester's rstudio::conf(2020L) talk I was wondering if Github Actions could be leveraged to collect this sort of data on your behalf, adding to a database every so often.

[2020-03-12 00:55] adamhsparks commented on #118
Oooh. Nice idea! We've been fetching the forecast data and saving it, that would be a good test case for this idea. Right now we just needed it for a single event, so no big deal.

However, I was thinking that we'd add this functionality to bomrang for others as well, so I opened this issue.

[2020-03-14 02:30] adamhsparks commented on #118
As I'm tinkering with this. I'm wondering. Do we simply adapt `get_historical_weather()` or come up with a new function?

`get_historical_weather()` seems reasonable, since it is historical values, however the BOM values and the NOAA values differ, so depending on a param input you would get different columns in your dataframe depending on what you requested.

Any thoughts from anyone?

[2020-08-12 05:29] jmp75 commented on #96
I noticed the package [bomWater](https://github.com/buzacott/bomWater). You should have a discussion to see whether a coordination is possible.

[2020-08-19 07:13] rensa opened #119 "BOM rainfall station list empty, leading to get_historical error"
[code]

Running `debug(.get_ncc)`, it looks like this is a problem with [lines 263-4 of `get_historical.R`](https://github.com/ropensci/bomrang/blob/77f14342188ea1e48362eb0bfdb3c60dd9510ab4/R/get_historical.R#L263): the [list of rainfall stations](http://www.bom.gov.au/climate/data/lists_by_element/alphaAUS_136.txt) published by the BOM is currently empty (I assume erroneously, because the tempera

[2020-08-21 01:30] rensa commented on #119
The rainfall station list for 20 August 2020 is also empty, so maybe this isn't going to dix itself 😔

[2020-08-21 01:35] adamhsparks commented on #119
Are we sure it’s not just the drought? 🤷‍♀️

[2020-08-21 05:44] paulr-bv opened #120 "get_historical crashing when no BOM Stations returned from call in .get_ncc"
get_historical() is currently failing. Symptom is:

[code]

Error returned is:

[code]

I did a quick investigation and I think it is failing in .get_ncc()

It seems that there is a bug on the BOM site today where a call for rain stations is returning zero (0) stations. The call is:

http://www.bom.gov.au/climate/data/lists_by_element/alphaAUS_136.txt

It currently returns:

The call in .get_ncc f

[2020-08-21 05:55] adamhsparks commented on #120
Possibly related to https://github.com/ropensci/bomrang/issues/119

[2020-08-21 06:00] paulr-bv commented on #120
Yes. Apologies for not seeing #199  :-(
Possible solution included here though incase the BOM issue remains

[2020-08-21 06:11] adamhsparks commented on #120
@rensa, how far did you get with your bug fix?

[2020-08-21 06:14] rensa commented on #120
I didn't get to it today, unfortunately! However, we do need it fixed for our work, so I'll 100% be taking a swing at it on Monday morning.

[2020-08-21 06:47] adamhsparks commented on #120
No worries, I'm otherwise occupied at the moment.

[2020-08-24 04:16] rensa commented on #120
I've submitted a PR with a fix to the immediate problem, although I've had it drop a warning if any of the station lists are empty (which may be confusing if you, say, request temperature and it says the rain list is missing). It can be merged as-is (although CI will fail, as it's expecting output from `get_historical_weather`, or we could rework the function to only request the station list for t

[2020-08-29 01:49] hardiksawhney opened #122 "get_historical() Function error"
Not able to download weather data using get_historical (). getting the following error:
Error in x[i] : only 0's may be mixed with negative subscripts

[2020-08-29 02:27] adamhsparks commented on #122
see https://github.com/ropensci/bomrang/issues/119 and https://github.com/ropensci/bomrang/issues/120

[2020-08-29 02:27] #122 closed

[2020-08-30 10:09] adamhsparks commented on #120
I've incorporated @rensa's PR and updated tests to handle this. If `rain` is requested, this will automatically error out, all others still receive the warning message about lack of availability for rain data.

I need to update the tests for the `min`, `max` and `solar` to reflect the warning message if any of them goes offline as `rain` currently has.

I've another new function I'm working on to

[2020-09-01 06:06] paulr-bv commented on #120
Adam,

Thanks for the heads up on this being available to install from GitHub. I have just done that and it mostly works. ☺

The issue is:

  *   get_historical() is not supported or the backward compatibility isn’t there.

Here is an example (my bolding obviously):

+                                     type = "min")
Error in get_historical(latlon = c(-35.2809, 149.13), type = "min") :
  could no

[2020-09-01 07:51] adamhsparks opened #123 "get_historical() backward compatibility is broken"
I forgot to include a backwards compatible function for `get_historical()` when I revamped the function names to make them more uniform across the package.

[2020-09-01 07:54] adamhsparks commented on #123
Should be fixed in https://github.com/ropensci/bomrang/commit/bcd3f74a826a32ef67a19d1e69722907bed058cb.

It works for me locally now. @paulr-bv to please confirm by installing the latest from Master. Sorry about that, but good catch.  🙏

[2020-09-01 11:31] paulr-bv commented on #123
Thanks. Installed from Master again and now working as expected. ☺

From: "Adam H. Sparks" <notifications@github.com>
Reply to: ropensci/bomrang <reply@reply.github.com>
Date: Tuesday, 1 September 2020 at 5:54 pm
To: ropensci/bomrang <bomrang@noreply.github.com>
Cc: Paul Robertson <paulr@beovista.com.au>, Mention <mention@noreply.github.com>
Subject: Re: [ropensci/bomrang] get_historical() backwar

[2020-09-06 03:15] #123 closed

[2020-09-07 00:24] njtierney opened #124 "`get_historical` returns `Error: Must subset rows with a valid subscript vector.`"
👋 Hello!

Thanks for maintaining `bomrang` :)

I get this error when using `get_historical` - possibly related to #119 and #120 I think, I'll try the dev version and report back.

    library(bomrang)
    #> Registered S3 method overwritten by 'hoardr':
    #>   method           from
    #>   print.cache_info httr
    #>
    #> Attaching package: 'bomrang'
    #> The following object is masked fro

[2020-09-07 00:29] adamhsparks commented on #124
It's been fixed. I just need to get it on CRAN. See, https://github.com/ropensci/bomrang/issues/120

[2020-09-07 00:29] #124 closed

[2020-10-12 04:34] #105 closed

[2020-12-01 20:14] #120 closed

[2020-12-01 20:14] #119 closed

[2020-12-01 22:31] rensa commented on #118
Very cool!

The only thing I'd mention by way of caution is that NOAA's data very likely has different standards to BOM's for a range of things, from the very simply (eg. missing data values and units) through to subtler things like reporting frequency and varying precision of station locations by country (I can think of at least one country that feeds into ISD with a single decimal point on stati

[2020-12-01 23:00] adamhsparks commented on #118
I did incorporate it but CRAN rejected bomrang for an issue in stationaRy telling me to fix it. I won’t be including it again

Sent from my iPhone

[2020-12-01 23:43] #118 closed

[2021-01-13 20:27] mbacou opened #126 "Access to BOM weather grids?"
@adamhsparks and Team,
Does the package provide access to BOM's interpolated **weather grids** (described here http://www.bom.gov.au/climate/data-services/maps.shtml)? I believe these are the grids also available for download at e.g. :

Gridded daily rainfall:
http://www.bom.gov.au/web03/ncc/www/awap/rainfall/totals/daily/grid/0.05/history/nat/2021011320210113.grid.Z (?)

Thanks, --Mel.

[2021-01-15 01:17] adamhsparks commented on #126
Hi @mbacou, right now, no, this is not a function in bomrang but we’d welcome a pull request if you wished to contribute.

[2021-01-15 01:22] PaulMelloy commented on #126
Just to add,
For the moment I believe BOM weather grids are a  paid service. Currently `bomrang` only retrieves what is freely available.
I would be interested to know if I am wrong
Cheers

[2021-01-15 19:38] mbacou commented on #126
Thx. Access restrictions are a bit confusing indeed. I found links to download daily grids in ASCII format at http://www.bom.gov.au/jsp/awap/rain/index.jsp, so I assume this is public access. Would be a great addition to this package indeed. PR if/when I can!

[2021-02-12 08:52] adamhsparks opened #127 "get_historical() station ids don't align with other outputs"
I've used `sweep_for_stations()` to identify weather stations for which I wanted historical data and `get_historical()` to download the stations. However, the type of data is not standard for the station id values. `sweep_for_stations()` returns a character value with BOM's leading 0s, `get_historical()` returns a numeric value that strips the leading 0s, which is inconsistent across the package f

[2021-02-12 12:46] jonocarroll commented on #127
That's most likely an oversight on my part - `get_historical()` should absolutely keep things in the package-standard format. From what I can see, the returned `stationid` _should_ be unchanged from input as it's output here https://github.com/ropensci/bomrang/blob/master/R/get_historical_weather.R#L124 which is essentially
[code]
The only place I see it converted is in the comparison here https:/

[2021-02-13 00:21] adamhsparks commented on #127
It's the `station_number` col from `get_historical()`

The band-aid solution for the moment is this for my work.

[code]

[2021-02-13 09:59] adamhsparks commented on #127
Thanks for the quick fix. Looks good to me.

[2021-02-13 09:59] #127 closed

[2021-03-01 07:59] adamhsparks opened #129 "Tests for print.bomrang_tbl() currently fail due to header values"
When capturing the output, more text appears in the header than in the actual printed output from the function, causing the tests to fail.

See below, the first example captures the output. The second functions as we'd expect bomrang to work not capturing the output, just printing the values to the console.

Just checking to see what the expected behaviour is here, @jonocarroll. The tests don't in

[2021-03-01 11:36] jonocarroll commented on #129
This is expected behaviour; these are the ANSI terminal codes which control the colour of the additional information. Is there a reason to use `capture.output()` in the tests? Presumably because this is output prior to the result with `cat()`.

I used `{crayon}` to build these
[code]
One option would be to optionally turn off the formatting via a default option, in which case you could run the tes

[2021-03-01 12:27] adamhsparks commented on #129
It’s been a while since I’ve looked at the tests. I’m tracking down why it doesn’t pass checks with CI and this popped up. This is not the reason for the delays in seeing but it did pass before. I’ll use your last suggestion to deal with it. 🙏

Sent from my iPhone

[2021-03-11 00:04] adamhsparks opened #130 "get_historical_weather does not respond"
For a few weeks or up to a month or two now the CI tests have been failing on every OS tested.

So far I've updated the internal databases to reflect the latest metadata on stations and locations BOM has.

Here is an example URL not responding that's generated by the second example.

[code]

http://www.bom.gov.au/jsp/ncc/cdio/weatherData/av?p_display_type=dailyZippedDataFile&p_stn_num=070351&p_c=-

[2021-03-11 00:11] adamhsparks commented on #130
To further add to the confusion, the first example does appear to fetch the data.

[code]

[2021-03-11 00:24] adamhsparks commented on #130
Checking the first URL for a response indicates that it's OK. So we can't just check first and then stop.

[code]

[2021-03-11 01:40] adamhsparks opened #131 "Simplify URL handling"
Currently, we have several functions that all fetch data from BOM servers when supplied with a URL. I can't see any good reason for the duplication. One (or maybe two) functions to handle downloads should be sufficient and reduce complexity.

[2021-03-11 01:58] adamhsparks commented on #131
There are FTP and http requests. Maybe one for each of these?

[2021-03-11 03:38] adamhsparks commented on #131
As I look at this, it's becoming clear again why _bomrang_ has this. There may be some room for improvement/streamlining but data requests due to the BOM web server structures are rather unique for each application.

[2021-03-11 05:36] adamhsparks commented on #130
Now the first example is failing too. BOM servers seem to have issues right now.

[2021-03-17 06:00] paulr-bv commented on #130
Further access issues today. Call is:
[code]

Returns:
[code]

Accessing via curl ok:
[code]

Accessing from web browser loads the file.

[2021-03-17 11:45] jonocarroll commented on #130
Sorry for the silence, I have been lurking.

I get no issues from
[code]
and expected data returned from `get_historical()`
[code]
so maybe this is an intermittent issue (fun).

The only thing I can think of is that while `alphaAUS_136.txt` returns 200 (OK), and `alphaAUS_000.txt` returns 404 (Not Found), the parent directory returns 403 (Forbidden)... could it perhaps be that the permissions are

[2021-03-17 22:38] paulr-bv commented on #130
Hmm, it might be a client system thing.
I'm on a Mac and still running R 3.6.1 (sessionInfo at the bottom) as I haven't had the time to upgrade amidst some project work. Don't know if that is part of it (but I thought that my original script was working a few days ago).

I tried some readLines() calls with mixed results. I had Restarted R so no explicit libraries loaded.

The call to the BOM serve

[2021-03-18 05:23] mattecologist commented on #130
I'm also having the same issues, R 4.0.2 in RStudio 1.4.1103:

`> readLines("http://www.bom.gov.au/climate/data/lists_by_element/alphaAUS_136.txt")
Error in file(con, "r") :
  cannot open the connection to 'http://www.bom.gov.au/climate/data/lists_by_element/alphaAUS_136.txt'
In addition: Warning message:
In file(con, "r") :
  cannot open URL 'http://www.bom.gov.au/climate/data/lists_by_element/al

[2021-03-18 05:32] jonocarroll commented on #130
I should have mentioned that I tested in a terminal. I can reproduce the error from RStudio 1.4.1623 on Mac. I don't see any prominent discussions about it, so maybe reach out to Twitter or RStudio directly?

[2021-03-18 05:35] jonocarroll commented on #130
For reference, this can be traced slightly upstream to `file(con, "r")` failing.

[2021-03-18 05:46] jonocarroll commented on #130
Okay, it looks like the RStudio `HTTPUserAgent` is being rejected... based on https://r.789695.n4.nabble.com/File-Downloading-Problem-td3022137.html I tried
[code]
with success.

My suggestion would be to add the following to `bomrang` fetching functions:
[code]
Maybe someone from BOM will file an issue... maybe they're deliberately blocking RStudio as a way to limit what bomrang does.

[2021-03-18 06:00] mattecologist commented on #130
@jonocarroll can confirm this is working for me too now. Thanks!

[2021-03-18 06:29] paulr-bv commented on #130
Agree with @mattecologist, @jonocarroll, blanking the UserAgent works for me.
Restoring the options then has it fail again.

In the interim, I just updated my script to put a wrapper around calls to get_historical() and the script worked.

The wrapper is:
[code]

Thanks again!

[2021-03-18 06:48] adamhsparks commented on #130
Thanks for teasing this out, @jonocarroll. We just moved into new offices and our network firewalls are causing some issues here so I wasn't going to be a good test case for this.

That said, it does work.

BOM's file serving seems to have been unstable lately. I was having issues in RStudio and the base console last week as noted that it didn't respond in R or the browser.

[2021-03-19 09:08] jonocarroll commented on #130
I'll try to make a PR to add this new user agent. It may end up being blocked specifically, in which case I'd say opening a line of communication to BOM may be prudent.

[2021-03-19 12:55] adamhsparks commented on #130
I’ve got it covered.  I’m working on the package right now anyway. Thanks for the offer, @jonocarroll

Sent from my iPad

[2021-03-19 12:59] jonocarroll commented on #130
Oh, snap, neat timing. Check out my PR, it looks like this specific issue was the tip of the iceberg.

[2021-03-19 13:08] jonocarroll commented on #130
I can confirm that on `develop` the failure point is the embedded nul which is `fread()` failing to read the .zip. This is also resolved in my PR.

[2021-03-25 04:00] adamhsparks opened #133 "get_weather_bulletins() fails"
@mpadge, do you have any ideas? I've poked around a bit in the functionality here. I can't really determine what's going wrong with it.

I'd post a reprex, but I can't get that to work either. My network connection has issues finding the BOM website and right now it's not finding it. I'll update when I can.

[2021-03-25 04:17] adamhsparks commented on #133
This is using the development version of bomrang where I've used @jonocarroll's USERAGENT switch to be able to access the BOM website through RStudio.

[code]

[2021-03-25 04:18] jonocarroll commented on #133
This looks to be the same as #130 -- 403 blocked due to RStudio UserAgent.
[code]

[2021-03-25 04:23] adamhsparks commented on #133
@jonocarroll, what's the same here? I've used your custom USERAGENT and it accesses the site but I get the error above about longer objects.

[2021-03-25 04:27] jonocarroll commented on #133
Sorry, I was debugging as you posted your update - I initially just got the 403 and thought that might have been the only problem. I haven't looked into the remaining issue.

[2021-03-25 05:04] adamhsparks commented on #133
Our network here is rubbish. I can't get here to GitHub half the time.

[2021-03-25 09:03] mpadge commented on #133
I can confirm something is up:
[code]

<sup>Created on 2021-03-25 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

I'll check it out now

[2021-03-26 07:00] adamhsparks opened #135 "Release bomrang 0.7.4"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_bomrang.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] [`urlchecker::url_check()`](https://github.com/r-lib/urlchecker)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `re

[2021-03-26 07:03] #133 closed

[2021-03-26 07:04] #130 closed

[2021-03-26 07:04] #129 closed

[2021-03-26 07:05] #97 closed

[2021-03-26 07:07] adamhsparks commented on #131
A singular approach at this point isn't the most ideal. Some room for simplification remains but in the interest of time and ensuring that the package's bugs are squashed I'll release a new release without this and possibly revisit in the future.

[2021-03-26 07:07] #131 closed

[2021-03-28 20:50] TristanLouthRobins opened #136 "bomrang currently throwing connection error"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-03-28 23:00] adamhsparks commented on #136
Thanks for reporting this. We’re aware and this is a duplicate of, https://github.com/ropensci/bomrang/issues/133, which has been fixed in the version that’s ready for submission to CRAN today.

[2021-03-28 23:00] #136 closed

[2021-03-29 00:21] adamhsparks commented on #136
If you need data in the meantime while we wait on CRAN, this seems to be an RStudio issue, not an R issue per se. You might try run your script in an R session that's not in RStudio.

[2021-03-29 04:28] TristanLouthRobins commented on #136
My apologies for the duplication, thanks Adam! Not need for data today; it can wait.

Thanks again,

Tristan

[2021-03-29 23:39] #135 closed

[2021-04-12 02:51] jimjam-slam opened #137 "Station list request throws `403: Forbidden`"
[code]

I'm manually visiting the station list URL in the browser and it's fine. Wondering if there've been any backend changes (eg. the curl discussion I recently saw on runapp) that're causing problems for anyone else? Can anyone else reproduce this?

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-04-12 02:53] rensa commented on #137
Never mind! Just saw the duplicates (primarily #133)

[2021-04-12 02:55] rensa commented on #136
Note that when I encountered this issue (#137), it wasn't in an RStudio session! It was in a regular R session (although running inside Linux using WSL on Windows)

[2021-04-12 03:05] adamhsparks commented on #136
@rensa, can you confirm an error 403 forbidden and changing the useragent worked for you?

[2021-04-12 03:11] rensa commented on #136
It's still happening with the latest release (commit 62233b4, following #134). However, when I run [the test request with `xml2`](https://github.com/ropensci/bomrang/issues/133#issuecomment-806351212), I don't have any problems even if I don't change my user agent:

[code]

My user agent option doesn't appear to be set at all:

[code]

Changing the user agent doesn't solve it :/

[2021-04-12 03:12] adamhsparks commented on #136
@rensa, can you open a new issue for this, please?

🙏

[2021-04-12 03:13] rensa commented on #136
No worries! Re-opening #137.

[2021-04-12 03:14] rensa commented on #137
Re-opening because this is still occuring for me with the latest release (see https://github.com/ropensci/bomrang/issues/136#issuecomment-817448729).

[2021-04-12 03:15] adamhsparks commented on #137
Well, it was passing all CI tests yesterday. Wonder what's changed (again).

[2021-04-12 04:41] rensa commented on #137
It might be something particular to my setup! I'll try to investigate this arvo.

[2021-04-12 05:19] adamhsparks commented on #137
Not just you, I've confirmed it locally as well.

[2021-04-12 06:30] rensa commented on #137
Our staff are also reporting problems from inside our codebase, which uses Docker images that were last built a month ago. That does suggest a change on BOM's end.

[2021-04-12 09:07] adamhsparks commented on #137
Just to clarify, are you using _bomrang_ in your codebase?

[2021-04-12 09:10] rensa commented on #137
Yup (although we're looking to switch at some point later in the year).

On Mon, 12 Apr 2021, 19:07 Adam H. Sparks, ***@***.***> wrote:

[2021-04-12 09:12] adamhsparks commented on #137
I just tested.

using the current version of _bomrang_'s user agent string:
[code]
returns a "Error 403 forbidden"

using:
[code]

Returns the requested data.

I'm not one for conspiracies, but since we explicitly said that the request was coming from _bomrang_ in the user agent string and now it's blocked... :/

Does anyone know anyone at BOM?

[2021-04-12 09:50] jonocarroll commented on #137
It's another change, but if that's the case we can just spoof a regular browser HTTPUserAgent 🕵️‍♂️

[2021-04-12 10:06] adamhsparks commented on #137
@rensa and I are discussing some options. That's certainly one. We also discussed caching the station lists as the other functions do as well.

[2021-04-12 10:07] rensa commented on #137
I'll have an ask around and see if the station lists are on FTP too!

[2021-04-12 10:18] adamhsparks commented on #137
The historical resource URLs are all HTTP requests as well, now that I look further.

[2021-04-12 12:04] adamhsparks commented on #137
Since it's just HTTP requests, so far, that are being blocked in the package by BOM. I wonder, is there some statement that we've missed that this isn't allowable by BOM guidelines?

[2021-04-12 12:11] adamhsparks commented on #137
OK, there is this:

_'scraping' includes page, content, screen or web scraping amongst others, and is the process of extracting information from websites usually by converting unstructured website content (usually HTML) into structured data._

http://www.bom.gov.au/other/copyright.shtml

[2021-04-13 06:18] adurrer151 commented on #137
It looks like the BOM has recently "made changes to the web site". Using python requests library to access the html observations, BOM throws the following error:

[2021-04-13 07:37] adamhsparks commented on #137
Ah, OK, well I guess that's good to know that bit of added information. We're not seeing that with the R requests, only that it's forbidden suddenly with no warning or explanation like this.

I looked at the form that this error message points to. I guess I can fill it out, but I'm not clear on what, if any, response would be given the statement of the copyright page on scraping for such a general

[2021-04-14 07:43] buzacott commented on #137
I'm also curious about these changes and I think it is a bad move.

If you go to the FAQ at http://www.bom.gov.au/waterdata/, they specifically mention/demonstrate an API to access water data which I have been using:

No one in their right mind would use these except via scripting. Getting around using the user agent is trivial but not a long term solution. I might fill in the form too and ask the

[2021-04-14 12:06] adamhsparks commented on #137
Well, I got the obligatory flame from CRAN that I needed to be reminded about the "fail gracefully" policy. As if.

I can't see a viable way to keep these functions going right now unless BOM is willing to allow us to continue, but this seems unlikely from the information at hand and from conversations with others that have more contact with BOM.

I'm going to start stripping the functions from _b

[2021-04-14 12:18] adamhsparks opened #138 "BOM denying any HTTP requests"
BOM is now denying any HTTP requests made using a method other than a web-browser.
<http://reg.bom.gov.au/weather-services/announcements/>

Scheduled Release Date: 3 March 2021
A web application firewall policy has been implemented for www.bom.gov.au which will block screen scraping activity.
The Bureau is monitoring screen scraping activity on the site and will commence interrupting, and eventual

[2021-04-14 12:25] adamhsparks commented on #138
I have received the obligatory flame from CRAN about _bomrang_ failing and needing to be reminded of the policy about failing gracefully (as if I forgot). So this needs to be resolved by 28/04/2021 to keep _bomrang_ on CRAN.

[2021-04-14 13:32] mpadge commented on #138
I'm happy to formulate an email to the totally generic address they put there (`weatherquestions@bom` -really?) Their statements are really very obstructive:

It nevertheless seems that a lot of stuff is still available via FTP, as described [here](http://www.bom.gov.au/catalogue/data-feeds.shtml), but the [" full list of all products available via anonymous FTP"](http://www.bom.gov.au/catalogue/a

[2021-04-14 14:11] HughParsonage commented on #138
I do not understand the purpose of the .json files other than for this sort of access. Are they seriously suggesting that the intended means of accessing the data is to click on the link and copy it manually?

[2021-04-14 16:19] mpadge commented on #138
Yes @HughParsonage they are seriously suggesting that should be the only method for anybody other than direct employees of da BoM. The problem is they have no system for authorized requests, which would solve everything, and in lieu of that some brains trust obviously decided excluding everybody is safer and easier.

[2021-04-16 05:52] adamhsparks commented on #138
So, what's the course of action here with these three functions? They aren't going to work any longer unless BOM does an about-face, but the wording,

and

tells me that they know they've ruined it for everyone and don't give a stuff and a change isn't likely to happen.

I need to get the package fixed. Ripley has already flamed me for this:
https://www.stats.ox.ac.uk/pub/bdr/donttest/bomrang.out

[2021-04-16 06:12] jonocarroll commented on #138
If BOM don't want to support our use-case then it would be really good if they provided some sort of queryable API. The FTP options don't seem to have station-level data, at least not in a parseable way.

One alternative would be to create a data dump (either an official export or we run the queries while we still can) and somehow update that occasionally. It's all up in the air for the fetching f

[2021-04-16 06:22] adamhsparks commented on #138
I don't see how one can do a data dump given the current policies prohibit this.

I don't see what's up in the air here about fetching functions? If it uses HTTP as these three do, it's DOA with BOM's stated and enforced policies. For now, the FTP ones seem safe, but I'm not holding my breath.

[2021-04-16 06:28] jonocarroll commented on #138
It wasn't a 'good citizen' suggestion, but if the files are available on the website then one *could* loop over those (with the right `HTTPUserAgent`) and grab the historical data*.

The 'up in the air' part referred to whether or not we could make a working wrapper for the FTP fetches but I'm not sure if a) it would even work, b) it would be stable, c) it would remain accessible, d) we could do t

[2021-04-16 06:45] vam103 commented on #138
In terms of the FTP there does seem to be a folder that has climate data over a number of years with a database of stations here ftp://ftp.bom.gov.au/anon/gen/clim_data/IDCKWCDEA0/

It seems to be fairly historical from 2009... but its probably still a pib to actually get it to work.

[2021-04-16 06:51] adamhsparks commented on #138
I'd be happy for these three to be re-implemented using FTP if possible, but I've got two rather important items going at work right now that take precedent over this right now.

So, if someone wants to contact BOM, that would be grand. I just don't have the time right now or the inclination based on previous attempts with no response.

So, I need someone who's willing to:
 * contact BOM and make

[2021-04-16 06:54] adamhsparks opened #139 "examples should never run on CRAN"
CRAN apparently is now running examples that aren't supposed to be run:

https://www.stats.ox.ac.uk/pub/bdr/donttest/bomrang.out

Examples need to be used with `@examplesIf` or an `if { (resource_available) run_example() }` for all functions requiring an Internet connection.

[2021-04-16 07:17] adamhsparks commented on #139
see https://github.com/ropensci/opencage/blob/8dd8dee473916c23c912a3a3008aeca4a8d1ba02/R/oc_forward.R#L92

[2021-04-16 07:23] HughParsonage commented on #138
As upsetting as it might be, the correct course of action, at least in the meantime, may be to ask CRAN to archive the package. The purpose this package is to download data from a source that is no longer available. It's a shame, but not ours.

[2021-04-16 07:24] mpadge commented on #138
I can fix the bulletin function to work in current form by switching to FTP, and should be able to find some time to do that next week. But that's only a very partial solution, and it's the historical data i worry about, along with @jonocarroll's concern about stability of provision of FTP data, especially since the front page there clearly states:

How about i volunteer to:

1. Fix `get_weather_b

[2021-04-16 07:36] jonocarroll commented on #138
I can try to find some time over the weekend to write a PR to (temporarily) disable `get_historical_weather()`.

[2021-04-16 07:47] adamhsparks commented on #138
@HughParsonage, not all of the functions are affected, only three are affected by this currently, so CRAN archiving seems excessive in this case. But it's an option until something is sorted, I suppose.

[2021-04-16 07:49] adamhsparks commented on #138
@mpadge, discussions are now open

[2021-04-21 04:44] TristanLouthRobins commented on #138
As someone who has used bomrang repeatedly as test data for honing my wrangling and analysis skills, this news is *enormously* disappointing. For me, the more manual workaround  would be fine if BOM incorporated an updated means of downloading datasets (as .csv etc) but their pages are so horrendously dated and restricted to pdfs and manual copy/pastes. Additionally historical data sets presented

[2021-06-09 07:58] gutzbenj commented on #138
Hello everyone,
we may have a solution for the problem you are facing here. The BOM service is based on some database structure developed by the Kisters Company. The interface can generally be accessed by kiwis_pie [1], which attemps to parse internal kiwis (that's the official interface name) methods and provides them as class methods, which one can then easily call. @amotl has setup a demo [2] a

[2021-06-09 08:46] mpadge commented on #138
Thanks @gutzbenj, that would be a great idea, but unfortunately the BoM uses a Kisters database only for the **water** data. This `bomrang` package is about the weather data, which use an entirely different, BoM-internal system which they have now effectively prohibited external access to. What we were accessing is [this front page](http://www.bom.gov.au/climate/data/), from which we used to be ab

[2021-06-09 09:11] gutzbenj commented on #138
If I understood @amotl correctly, he said that although the KIWIS interface is formally only providing water data it as well allows the user to access to weather data (which probably is stored in the same database). I will check this later on and see what is available from there.

[2021-06-09 11:57] adamhsparks commented on #138
While I’m all for using the right language for the right application, I’m not sure that this is the best place to use Python. I have used Python in R to fetch data, but that was just in a script, not a full-blown package, and it worked very well. If a user wanted to use Python to access the data in R, this could work, but I’m reluctant to integrate Python into an R package. Managing one language i

[2021-06-09 12:23] mpadge commented on #138
No worries @adamhsparks - I've had a look at the code, and it'll all be easy to port over to pure R if this turns out to be a workable approach.

[2021-06-10 05:48] buzacott commented on #138
My little package R bomWater was accessing this API to retrieve BoM Water data. When I was poking around I didn't see any indication that it served anything else. There is some weather data, but it is only from whatever the hydrological stations are providing (i.e. not BoM weather stations). The water page is just aggregating the data from all the different state water services that can also be ac

[2021-06-10 06:46] fadeh2013 opened #143 "Install the package in R-studio"
First of all, I would like to thank you for the amazing package. I tried to install it using the provided code at the homepage of the package, but it does not work. However, I installed the package using the following code:

[code]
</details>

[2021-06-10 09:48] adamhsparks commented on #143
@fadeh2013, what homepage are you referring to?

Our README instructions currently say:

if (!require("remotes")) {
  install.packages("remotes", repos = "http://cran.rstudio.com/")
  library("remotes")
}

install_github("ropensci/bomrang", build_vignettes = TRUE)

[2021-06-10 09:53] adamhsparks commented on #143
@fadeh2013, which homepage are you referring to?

Currently our README states:

[code]

I've just confirmed that this code does work and installs _bomrang_ and any necessary dependencies.

[2021-10-29 02:26] adamhsparks opened #144 "Alternatives to using BOM for data"
Queensland has a proper API that would allow us to access BOM data for point and even gridded data.

* https://www.longpaddock.qld.gov.au/silo/about/overview/
* https://www.longpaddock.qld.gov.au/silo/about/data-products/
* https://www.longpaddock.qld.gov.au/silo/api-documentation/guide/

What say you, @HughParsonage and @jonocarroll? This would allow us to have access to the historical data. Not

[2022-01-11 02:19] CMurtagh-LGTM commented on #138
There's a python library [weather-au](https://github.com/tonyallan/weather-au/blob/master/weather_au/api.py), which has managed to reverse engineer the api of the bom's new weather [website](https://weather.bom.gov.au). It gets json data from https://api.weather.bom.gov.au/v1.

[2022-01-11 02:31] jonocarroll commented on #138
Neat, @CMurtagh-LGTM - I suspect we could use the same API for current observations, but we're still stuck for historical data.

[2022-06-08 08:51] mpadge commented on #138
Thanks @trickypr, that may indeed work, but we'd still be violating the BoMs terms of usage which forbid "web scraping". My guess is we'll have to wait for [some kind of appeal to legalise web scraping](https://techcrunch.com/2022/04/18/web-scraping-legal-court/) before they budge. In the meantime not  much we can legally do here, short of resorting to their intentionally obfuscatory FTP server.

[2022-06-09 00:32] adamhsparks commented on #138
Hi @trickypr, we're well aware. But @mpadge is correct, while it may be technically possible, many of us involved in the package's development and use are not in positions to circumvent BOM's opinion on this and the FTP site only offers incomplete data vs the http methods.

[2022-11-11 03:51] DharmaDan commented on #144
Hi @adamhsparks and @jonocarroll. I note that a year has passed since there was discussion here on alternatives, and i am still sorely missing being able to easily use bomrang to pull down historical Wx data from specific BOM (ahem, THE BUREAU) stations. Is there another solution or go-to package now?  Thanks.

[2022-11-22 19:41] adamhsparks commented on #144
Unfortunately BOM doesn’t seem interested in supporting any such solutions, so, no. Right now nothing exists yet. The discussed workarounds all have their own drawbacks.

[2022-11-25 01:20] DharmaDan commented on #144
:( Oh well, we can live in hope.

Thanks for getting back to me Adam.